<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Applepie</h1>
  <p class="post-meta">
    <time datetime="2021-10-29 00:00:00 +0200" class="post-meta"> 29 de Octubre del 2021</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>
  
<div class="post-content" itemprop="articleBody">
  <p>Otro juego en alta resolución y en 1k, y creo que no sera el último.</p>

  <p style="text-align: center;"><img src="./assets/21/10/applepie.jpg" alt="Applepie" /></p>

  <p>Un juego muy adictivo, tienes que hornear tartas de manzanas y limpiar las manzanas que se come la rata.</p>

  <p>Tienes que coger manzanas y llevarlas al horno, en la esquina superior derecha, es suficiente llevar una sola, puedes llevar hasta 5 a la vez, pero si coges una manzana más termina la partida. Por cada manzana que llevas al horno consigues 10 puntos.</p>

  <p>En la pantalla hay una rata, si la rata te toca termina la partida. La rata se va comiendo las manzanas y deja los restos que debes recoger, porque si llega a ver 5 manzanas mordidas se termina la partida. Una vez que recojas las manzanas mordidas debes dejarlas en la basura, que esta en la esquina superior izquierda.</p>

  <p>Para dejar las manzanas en el horno o la basura, debes colocarte debajo y pulsar arriba.
  Si llevas al horno una manzana mordida termina la partida. Se pueden tirar manzanas sin morder en la basura, cada manzana que dejes en la basura es un punto.</p>

  <p>Según explica el autor del juego para que entrara en un 1k hizo la pantalla más pequeña.</p>

  <p>Los controles son</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>NewLine = Reiniciar.</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/download/file.php?id=10274">Enlace de descarga</a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=44222#p44222" target="_blank">Enlace al foro Sinclair ZX World</a>
  donde hay más detalles.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
