<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Spider Mutants</h1>
  <p class="post-meta">
    <time datetime="2021-10-27 00:00:00 +0200" class="post-meta"> 27 de Octubre del 2021</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Toddy Software">Toddy Software</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>La primera entrada no es un juego nuevo es del año 1985, de P.Wailand, tenia un error que se hacia injugable, según indica <em>kmurta</em>, el usuario del foro Sinclair ZX World que lo ha arreglado, posiblemente es un error generado durante la conversión de la cinta.</p>

  <p style="text-align: center;"><img src="./assets/21/10/spider-mutant.jpg" alt="Spider Mutants" /></p>

  <p>Es un sencillo matamarciano muy adictivo, tienes que salvar la tierra de una invasión alienígena, tienes 5 naves para defender los ataques de las naves arañas, en realidad es sola una pero se ira reponiendo a medida que la destruya.
  La naves arañas pueden disparar y lanzar minas que reducirán la posibilidad de movimiento, además la pantalla esta llena de bloques que sirven como escudos tanto para el jugador como el enemigo, y otras naves más pequeña recorren la pantalla de lado a lado, cada cierto tiempo, disparando.</p>

  <p>Tiene una cuidad presentación y el juego se mueve a una buena velocidad, a medida que avanzas de nivel se va incrementando los ataques de los enemigos.</p>

  <p><a href="https://www.sinclairzxworld.com/download/file.php?id=10353">Enlace de descarga de la versión en idioma Ingles</a></p>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?f=4&amp;t=4401" target="_blank">Enlace al foro Sinclair ZX World</a>
donde hay más detalles del error y los enlaces de descarga en Ingles y Alemán.</p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
