<header class="post-header">
    <h1 class="post-title" itemprop="name headline">DitherPaint81</h1>
    <p class="post-meta">
      <time datetime="2021-11-06 00:00:00 +0100" class="post-meta"> 6 de Noviembre del 2021</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Pixelmaker04">Pixelmaker04</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>No solos salen juegos en el 2021 para el ZX81 también hacen aplicaciones.</p>

<p style="text-align: center;"><img src="./assets/21/11/ditherpaint81.jpg" alt="DitherPaint81" /></p>

<p>En esta aplicación podemos dibujar en el ZX81 e imprimir el resultado.</p>

<p style="text-align: center;"><img src="./assets/21/11/ditherpaint81_salida.jpg" alt="Resultado" /></p>

<p>El programa es un port del programa DITHERPAINT99 para el microordenador TI99.</p>

<p>Moviendo el cursor con las teclas WASD y con el punto pintas el caracter que tengas seleccionado, cambias el caracter seleccionado con los números.</p>

<p>En el enlace de itch.io incluye además del archivo P una guía de uso en txt y pdf.</p>

<p>En redes sociales el autor ha mostrado fotos del uso del programa en hardware real y ha puesto a la venta edición física através de ebay.</p>

<p style="text-align: center;"><img src="./assets/21/11/ditherpaint81_real.jpg" alt="Hardware real" /></p>

<p><a href="https://pixelmaker04.itch.io/ditherpaint81" target="_blank">Enlace a itchio</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
