<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Kingdom</h1>
    <p class="post-meta">
      <time datetime="2021-12-29 00:00:00 +0100" class="post-meta"> 29 de Diciembre
  
del 2021</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Morgan Associates">Morgan Associates</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un juego de 1982 que se ha recuperado y compartido en el grupo de facebook <a href="https://www.facebook.com/groups/ZX81OwnersClub/about" target="_blank">ZX81 Owners Club</a></p>

<p style="text-align: center;"><img src="./assets/21/12/kingdom.jpg" alt="Kingdom" /></p>

<p>El usuario Johannes le Roux ha encontrado este juego en una caja que le regalaron, y no se ha encontrado ninguna copia preservada, pero si había gente que recuerda haberlo jugado. Le comentaron que que parece una variante de <a href="https://spectrumcomputing.co.uk/entry/28957/ZX81/Hammurabi" target="_blank">Hammurabi</a>. Grabo la cinta y con la herramienta “Java ZX81 Tape Converter” creo el archivo .P.</p>

<p>Es un juego de gestión en el que tienes que administrar un pequeño reino medieval, tienes que decidir cuanto maíz sembrar y cuanto destinas para alimentar a tu reino. Tienes que sobrevivir 20 años o acumular 32.000 sacos de maíz para ganar.</p>

<p>Ha añadido al post del grupo de facebook fotos de la portada y de la cinta, así como capturas de pantalla</p>

<p style="text-align: center;"><img src="./assets/21/12/kingdom_cover.jpg" alt="portado Kingdom" /></p>

<p><a href="https://www.facebook.com/download/335693025040920/Kingdom.p?av=100000086874197&amp;eav=AfZdriq6hHuNGbWkv8bpLnF11gx9I0qjE67AaYyJl4XstlzFuXc-Syjvz9yob73MFfk&amp;hash=AcoaXCXfR_aOwqIJmmA&amp;__cft__[0]=AZVdQMRnqnkhl7sRBhJP59E9MlNjRgz8hVHSZ5jOE5tIUXy3lvuJMUwbm-kLldelyN9WapNcq4wCByMxb9LWegh8dl8rAnO0zqBQS-D4uq96ExrRBnjb8PUcaHgjT0Cbk9JRMFu8LdQt2jPpuh9DweVJ&amp;__tn__=H-R" target="_blank">Enlace al archivo p en facebook</a></p>

<p><a href="./assets/21/12/Kingdom.p" target="_blank">Enlace al archivo p en este blog</a>
Por si hay problema para descargar en facebook, os recomiendo hecheis un vistazo al post</p>

<p>Actulizado:
<a href="https://gitlab.com/salvacam/zx81/-/raw/master/Kingdom/Kingdom_es.p" target="_blank">Lo he traducido al español</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
    
  
    
    
  
    
        
    <a class="tags" href="#" data-href="traducciones">traducciones&nbsp;</a>
    
  </span>
