<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Shrooms</h1>
    <p class="post-meta">
      <time datetime="2021-12-22 00:00:00 +0100" class="post-meta"> 22 de Diciembre
  
del 2021</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Bobs Stuff">Bobs Stuff</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>La interpretación de Bob Smith del clásico arcade Centipede para el ZX81</p>

<p style="text-align: center;"><img src="./assets/21/12/shrooms.jpg" alt="Shrooms" /></p>

<p>Este proyecto lo ha tenido parado durante unos años, debido a que el desarrollo del juego Melkhior’s Mansion le absorbía la mayor parte del tiempo. Recuerdo que hace meses puso en video del juego en movimiento.</p>

<p>Por suerte prometio que lo terminaría antes del 2021 y ha cumplido su palabra</p>

<p style="text-align: center;"><img src="./assets/21/12/shrooms_ins.jpg" alt="Instrucciones" /></p>

<p>Poco se puede añadir que no se sepa de este juego, una versión muy frenética, las primeras pantallas son relativamente fácil, pero ha medida que avanzas se van añadiendo nuevos enemigos que hace más difícil la misión de acabar con todas las partes del ciempies.</p>

<p>Un juego con un acabado final muy bueno, como nos tiene acostumbrado el autor. Quien no conozca el autor que vea las joyas que tiene en su <a href="https://bobs-stuff.itch.io" target="_blank">web</a> para ZX81 y ZX Spectrum.</p>

<p><a href="https://bobs-stuff.itch.io/shrooms" target="_blank">Enlace a itchio</a>
para su descarga.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
