<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Space Invaders for ZX81</h1>
    <p class="post-meta">
      <time datetime="2021-12-12 00:00:00 +0100" class="post-meta"> 12 de Diciembre
  
del 2021</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="SplinterGU">SplinterGU</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Space Invaders para el ZX81</p>

<p style="text-align: center;"><img src="./assets/21/12/SpaceInvadersforZX81.jpg" alt="Space Invaders for ZX81" /></p>

<p>Space Invaders con gráficos en alta resolución, sonido por la extensión Zon-X81 y soporte Chroma81</p>

<p>Necesita expansión de 32K o zxpand</p>

<p style="text-align: center;"><img src="./assets/21/12/SpaceInvadersforZX81_chroma.jpg" alt="Version Chroma" /></p>

<p>Su código fuente está disponible en la página de ithcio del autor</p>

<p><a href="https://splintergu.itch.io/space-invaders-for-zx81-wrx" target="_blank">Enlace a itchio</a>
para su descarga.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
