<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Aerial</h1>
  <p class="post-meta">
    <time datetime="2022-08-28 00:00:00 +0200" class="post-meta"> 28 de Agosto del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un juego de nave con scroll horizontal.</p>

  <p style="text-align: center;"><img src="./assets/22/08/Aerial.png" alt="Aerial" /></p>

  <p>Debes evitar las colisionar con todas las naves enemigas y sus disparos, así como chocar con el suelo, porque perdarás una vida. El juego se mueve continuamente en horizontal hacia la derecha, debes tener cuidado ya que por la izquierda aparecen naves enemigas.</p>

  <p>Al final de cada fase tienes un enemigo final.</p>

  <p>Al destruir las naves enemigas que suben verticalmente es probable que dejen una vida extra.</p>

  <p>Podéis ver el juego en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=ExMuRohHbUE" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/ExMuRohHbUE/0.jpg'"> </a></p>

  <p>Los controles son las siguiente teclas</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Espacio = disparar</li>
    <li>Espacio o Enter = empezar partida</li>
  </ul>

  <p><a href="http://inufuto.web.fc2.com/8bit/aerial/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

  <p>Además tiene el juego para muchos otros sistemas.</p>

  <p><a href="http://inufuto.web.fc2.com/8bit/zx81/aerial.p" title="download" target="_blank">Enlace directo al juego</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
