<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Valley of the Kings</h1>
    <p class="post-meta">
      <time datetime="2022-05-29 00:00:00 +0200" class="post-meta"> 29 de Mayo del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Bukster">Bukster</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un juego en 3D para ZX81 con 16K.</p>

<p style="text-align: center;"><img src="./assets/22/05/valleyOfTheKings.jpg" alt="Valley of the Kings" /></p>

<p>Este juego tiene tres rondas que consta de tres etapas. Toma el tesoro del faraón, roba sus pollos y cada ronda termina en un desafío único del faraón en el que tienes que vencer al cronómetro para completar una tarea. Si fallas en el desafío, el faraón te arrojará a la arena.</p>

<p>En la pantalla en la esquina superior derecha se muestra un mapa que no ayudara a localizar los elementos del juego, sobre todo cuando están muy lejos.</p>

<p>El autor ha estado trabajando durante más de un año en este juego. Usa un sistema de dibujo en 3D que puede escalar y rotar, para que pueda mirar alrededor de un paisaje en 3D y recoger objetos.</p>

<p>Funcionará con hardware estándar de 16k, pero puede usar un interfaz Chroma y una expansión de sonido Zonx.</p>

<p>Podéis ver el resultado en un vídeo que han subido el autor
<a href="https://www.youtube.com/watch?v=RFcqWB2SE2Y" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/RFcqWB2SE2Y/0.jpg'"> </a></p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=46892#p46892" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego, también esta en formato MP3 por si quieres usarlo en un ZX81 real.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
