<header class="post-header">
    <h1 class="post-title" itemprop="name headline">The Cursed Woods</h1>
    <p class="post-meta">
      <time datetime="2022-04-24 00:00:00 +0200" class="post-meta"> 24 de Abril del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Christoph & Julia">Christoph & Julia</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>¿Seras capaz de derrotar a Chronos?</p>

<p style="text-align: center;"><img src="./assets/22/04/cursedWoods.jpg" alt="The Cursed Woods" /></p>

<p>Un juego realizado por varios integrantes del <a href="http://www.zx81.de/english/_frame_e.htm" target="_blank">ZX-Team alemán</a>. 
Escrito en basic y compilado con <a href="http://www.zx81stuff.org.uk/zx81/tape/MCoder11" target="_blank">Mcoder II</a></p>

<p>El juego es una mezcla de aventuras y lucha. Empiezas moviendo tu personaje por un mapa, donde tienes que recoger 30 cristales, puedes aumentar tu poder cogiendo + y los T son los enemigos, en los arbustos puede encontrar enemigos.</p>

<p>Cuando encuentras un enemigo tienes que luchar contra el hasta que acabes con él, o el acabe contigo.</p>

<p style="text-align: center;"><img src="./assets/22/04/cursedWoods_fight.jpg" alt="lucha" /></p>

<p>Una vez tengas los 30 cristales tendrás que luchar contra el enemigo final.</p>

<p>Es necesaria una expansión de memoria de 16K, los controles son</p>
<ul>
  <li>Q = arriba</li>
  <li>A = abajo</li>
  <li>O = izquierda</li>
  <li>P = derecha</li>
  <li>0 = disparo</li>
</ul>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=46317#p46317" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
