<header class="post-header">
    <h1 class="post-title" itemprop="name headline">BASIC 10Liner</h1>
    <p class="post-meta">
      <time datetime="2022-04-10 00:00:00 +0200" class="post-meta"> 10 de Abril del 2022</time>
    </p>
  </header>

  

  <div class="post-content" itemprop="articleBody">
    <p>Presentados 5 juegos para ZX81 en la 11ª edición del concurso <a href="https://www.homeputerium.de/" target="_blank">BASIC 10Liner</a>.</p>

<p style="text-align: center;"><img src="./assets/22/04/BASIC_10liner.png" alt="BASIC 10Liner" /></p>

<p>Un concurso en el que se presentan programas en Basic de un máximo de 10 lineas, con cuatro categorías según la longitud de las líneas.</p>

<p>En esta nueva edición del concurso de Basic 10 Liner, en el que se puede presentar cualquier programa hecho en Basic para muchos sistemas, con la limitación de que solo seán 10 lineas.</p>

<p>Existen varias categorías:</p>
<ul>
  <li>PUR-80: En el que cada línea puede tener un máximo 80 caracteres.</li>
  <li>PUR-120: En el que cada línea puede tener un máximo 120 caracteres.</li>
  <li>EXTREM-256: En el que cada línea puede tener un máximo 256 caracteres.</li>
  <li>SCHAU: En el que cada línea puede tener un máximo 256 caracteres. Esta categoría está destinada a demos, herramientas o aplicaciones.</li>
</ul>

<p>Se han presentados 5 juegos en esta edición para el ZX81</p>

<ul>
  <li>
    <p><a href="https://bunsen.itch.io/zoltar-knows-all-by-brian-handova" target="_blank">ZOLTAR (Knows All) de Brian Handova.</a> Pregunta sobre tu futuro a Zoltar y después pulsa enter.</p>
  </li>
  <li>
    <p><a href="https://bunsen.itch.io/plotglider-by-dr-beep" target="_blank">Pixelglider de Dr Beep.</a> Tienes que mantener el pixel en pantalla el máximo tiempo posible</p>
  </li>
  <li>
    <p><a href="https://bunsen.itch.io/jamgame-by-marcos-retrobits" target="_blank">JAMGame de Marco’s Retrobits</a> Un juego de memoria inspirado en Simon.</p>
  </li>
  <li>
    <p><a href="https://bunsen.itch.io/polarion-by-salvador-camacho" target="_blank">Polarion de Salvador Camacho</a> Tienes que evitar caer en los huecos que se irán formando.</p>
  </li>
  <li>
    <p><a href="https://bunsen.itch.io/81sketch-by-salvador-camacho" target="_blank">81sketch de Salvador Camacho</a> Un telesketch, puedes pintar o borrar.</p>
  </li>
</ul>

<p>Los resultados ya se han dado ha conocer, los podéis consultar también en la <a href="https://www.homeputerium.de/" target="_blank">web del concurso</a></p>
<p style="text-align: center;"><img src="./assets/22/04/BASIC_10Liner_resultados.jpg" alt="Resultados" /></p>

<p>Como extra comentar que el foro de Sincliair ZX World han puesto varios juegos que bien podrían haber entrado en el concurso, ya que están hechos en Basic y en 10 lineas.</p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=46170#p46170" target="_blank">Frog Killer</a></p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=46248#p46248" target="_blank">Fishing</a></p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=46329#p46329" target="_blank">Slap Party</a> Eres un “Men in Black”, y un mal rockero dijo: “¡Tu madre pareces una extraterrestre!”… ¿Eres un buen luchador de bofetadas?</p>

</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
    
  
    
        
    <a class="tags" href="#" data-href="concurso">concurso&nbsp;</a>
    
  </span>
