<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Potomaniac</h1>
    <p class="post-meta">
      <time datetime="2022-04-11 00:00:00 +0200" class="post-meta"> 11 de Abril del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="XavSnap">XavSnap</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un Game&amp;Watch donde tienes recoger cerveza.</p>

<p style="text-align: center;"><img src="./assets/22/04/potomaniac.jpg" alt="Potomaniac" /></p>

<p>En abril de 1983 una fábrica de cerveza alemana (controlada por un ZX81) explotó!</p>

<p>Un miembro del grupo de superheroes del Zxteam intenta salvar la preciosa cerveza que llueve…”</p>

<p>Tienes que recoger toda la cerveza posible con cuidado de no beber más de 5 vasos segidos sin pasar por el baño, a la izquierda de la pantalla.</p>

<p>Para mover se usan las teclas 5 y 8, para izquierda y derecha.</p>

<p>Solo tienes una vida que se pierde si bebes más cerveza de lo que puede aguantar (5 vasos), se puede caer la cerveza al suelo sin perder ni vidas ni el juego.</p>
<p style="text-align: center;"><img src="./assets/22/04/potomaniac_gameover.jpg" alt="game over" /></p>

<p>El juego esta escrito en Basic, para usar con una expansión de 16 kb, en el foro donde se ha presentado esta una captura del código.</p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=46344#p46344" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
