<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Z-ZEE</h1>
    <p class="post-meta">
      <time datetime="2022-08-02 00:00:00 +0200" class="post-meta"> 2 de Agosto del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="S Anello">S Anello</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un juego muy similar a Yahtzee.</p>

<p style="text-align: center;"><img src="./assets/22/08/z-zee.png" alt="Z-ZEE" /></p>

<p>Tienes que obtener la mayor puntuación posible lanzando cinco dados. Cada jugada puedes lanzar los dados hasta en tres ocasiones para tratar de obtener una de las posibles combinaciones combinaciones.</p>

<p>Con las teclas 1,2,3,4,5 bloqueas los dados que no se volverán a tiran, con 6 bloqueas todos y con 0 ninguno.</p>

<p>Una vez ya hayas terminado la tirada con los cursores (5,6,7,8) debes elegir la combinación en la que quieres puntuar. El juego te calcula los <a href="https://es.wikihow.com/jugar-yahtzee" target="_blank">puntos que te corresponde</a></p>
<p style="text-align: center;"><img src="https://sinclairzxworld-com.translate.goog/download/file.php?id=11616&amp;sid=abc0781bd05311265f307df02a153986&amp;mode=view&amp;_x_tr_sl=en&amp;_x_tr_tl=es&amp;_x_tr_hl=es&amp;_x_tr_pto=wapp" alt="puntuacion" /></p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=47620#p47620" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
