<header class="post-header">
    <h1 class="post-title" itemprop="name headline">WWII Gunman y Orions Belt</h1>
    <p class="post-meta">
      <time datetime="2022-01-01 00:00:00 +0100" class="post-meta"> 1 de Enero del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Kurt-Arne Johnsen">Kurt-Arne Johnsen</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>El último juego del 2021 y el primero de 2022</p>

<p style="text-align: center;"><img src="./assets/22/01/orionsBelt.jpg" alt="WWII Gunman y Orions Belt" /></p>

<p>Los ha publicado el usuario en el grupo de facebook <a href="https://www.facebook.com/groups/ZX81OwnersClub/about" target="_blank">ZX81 Owners Club</a></p>

<p><strong>Orions Belt</strong></p>

<p>Primer juego del 2022 para el ZX81, lo ha liberado el autor pasada la media noche del día 1 de enero.</p>

<p>Un juego de dados multijugador, de 1 a 8 jugadores. Tienes 10 rondas donde lanzas tres dados, en cada ronda puedes lanzar tres veces, la primera vez los tres dados, y las otras dos veces siguientes eliges que dados lanzar. Tienes que conseguir tener el mismo numero en los tres dados, si lo consigues puntúas suma de los tres dados, menos si sacas tres unos que puntúas 21.
Al final de las 10 rondas gana el que más punto haya conseguido</p>

<p style="text-align: center;"><img src="./assets/22/01/gunman.jpg" alt="WWII Gunman" /></p>

<p><strong>WWII Gunman</strong></p>

<p>Este juego fue publicado el 29 de diciembre, y si no se me ha pasado ninguno es el último juego del año 2021 para el ZX81.</p>

<p>En el juego manejas un sistema antiaéreo de la segunda guerra mundial, tienes que derribar 10 aviones diferentes, que te disparan si te mueves lento. Va aumentando en dificultad durante el juego. Los aviones que dan más puntos te disparan con más frecuencia.</p>

<p>Los dos juegos se encuentra en un <a href="https://github.com/Retronissen/Sinclair-ZX81-Software-in-hounor-for-Sir-Clive" target="_blank">repositorio de github</a>
para su descarga.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
    
  
    
        
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
