<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Fast Times at Clairmont High</h1>
    <p class="post-meta">
      <time datetime="2022-07-08 00:00:00 +0200" class="post-meta"> 8 de Julio del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="GCHarder">GCHarder</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Otro juego juego de revista.</p>

<p style="text-align: center;"><img src="./assets/22/07/Fast.png" alt="Fast Times at Clairmont High" /></p>

<p>GCHarder ha transcrito este juego publicado el código por Stephen J. Jonke en la revista <a href="https://archive.org/details/SyncWareNews/SyncWare%20News%20v3n2/page/19/mode/2up" target="_blank">Syncware News</a>, de noviembre de 1985.</p>

<p>Walter Wimply llega tarde a clase y los matones en la sala de ciencias están tratando de evitar que él llegar a tiempo! Debes guiar a Walter hacia abajo. Por el pasillo de la escuela, más allá de las rocas, partículas radioactivas, ranas mutantes y otros extrañas cosas que los matones están lanzando. Debes guiarlo a través de la puerta del salón de clases a un lugar seguro.</p>

<p>Movemos a Walter hacia la izquierda (con Z, X, C o V) o derecha (con  B, N, M, punto o Espacio), tenemos que evitar los obstáculos e intentar conseguir dinero (representado con el símbolo del dolar) para obtener mayor puntuación, y comida, ya que tenemos un comida que se puede ira vaciando poco a poco, pero se puede rellenar cogiendo comida (representado con la F invertida).</p>

<p>Hay que seleccionar el nivel de habilidad, de 1 a 6, a menor número más rápido se moverá el juego.</p>

<p>El juego va bastante rápido. En el zip para descargar viene un documento de texto donde se explica como disminuir la velocidad y como poner el juego en modo práctica. En el modo práctica tienes vidas infinitas, en el modo normal tienes 3 vidas, que las pierdes si chocas con los objetos o te quedas sin energía, al vaciarse el indicador de comida.</p>

<p>Para cambiar la velocidad, pulsa Espacio para salir del juego y pones RUN 600 para seleccionar la velocidad. Se recomienda un valor entre 220 y 255, a menor valor ira más despacio.</p>

<p>Para poner el modo práctica, pulsa Espacio para salir del juego y pones GOTO 9000.</p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=47252#p47252" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
