<header class="post-header">
    <h1 class="post-title" itemprop="name headline">SPACE-BASE</h1>
    <p class="post-meta">
      <time datetime="2022-04-30 00:00:00 +0200" class="post-meta"> 30 de Abril del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Christoph & Julia">Christoph & Julia</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un clon del <a href="https://en.wikipedia.org/wiki/Missile_Command" target="_blank">Missile Command</a>.</p>

<p style="text-align: center;"><img src="./assets/22/04/space-base.jpg" alt="SPACE-BASE" /></p>

<p>Un nuevo juego de los integrante del <a href="http://www.zx81.de/english/_frame_e.htm" target="_blank">ZX-Team alemán</a>. Escrito en basic y compilado con <a href="http://www.zx81stuff.org.uk/zx81/tape/MCoder11" target="_blank">Mcoder II</a></p>

<p>Tienes 5 posiciones de disparo, tienes que aguantar el máximo tiempo posible a que destruyan tu base. Tu base aguanta 20 ataques.</p>

<p>Por falta de memoria no ha podido incluir protección cuando eliges nivel, recomienda el autor no poner más de 20, y tampoco cuando se pulsa espacio.</p>

<p>En los niveles más bajos recibes pocos ataques, pero no en los niveles de mayor dificultad, prueba a ver cuanto duras en el nivel 20.</p>

<p style="text-align: center;"><img src="./assets/22/04/space-base_end.jpg" alt="final" /></p>

<p>Los controles son</p>
<ul>
  <li>Q = izquierda</li>
  <li>P = derecha</li>
  <li>I = disparo</li>
</ul>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=46498#p46498" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
