<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Frogger sfx</h1>
    <p class="post-meta">
      <time datetime="2022-01-31 00:00:00 +0100" class="post-meta"> 31 de Enero del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Toddy Software">Toddy Software</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>El juego clásico de Cornsoft como siempre debería haber sido.</p>

<p style="text-align: center;"><img src="./assets/22/01/frogger-sfx.jpg" alt="Frogger sfx" /></p>

<p>El usuario del foro Sinclair ZX World, <strong>kmurta</strong>, ha añadido al juego Frogger de 1981 música y efectos de sonido.</p>

<p>Podéis oír el resultado en un vídeo que han subido
<a href="https://www.youtube.com/watch?v=C_GUdLvMHMQ" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/C_GUdLvMHMQ/0.jpg'"> </a></p>

<p><a href="https://sinclairzxworld.com/download/file.php?id=10813&amp;sid=1c5715b399f635884f14cfda0f7be2ab" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
