<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Battlot</h1>
    <p class="post-meta">
      <time datetime="2022-08-27 00:00:00 +0200" class="post-meta"> 27 de Agosto del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p style="text-align: center;"><img src="./assets/22/08/Battlot.png" alt="Battlot" /></p>

<p>Tienes que destruir la base enemiga para pasar de fase.</p>

<p>Si te destruyen 3 veces termina la partida.
Si destruyen tu base pierdes una vida y se reinicia la pantalla.</p>

<p>Mientras te mueves no puedes disparar. Si te disparan no pierdes una vida sigue el juego y te aparece un nuevo tanque al lado de tu base, durante unos segundos esta parpadeando y no puedes mover el tanque ni disparar.</p>

<p>Si disparas a las balas enemigas se destruyen las balas. Tus disparos no le restan energía a tu base.</p>

<p>Tienes tiempo en cada fase, si acaba el tiempo pierdes una vida.</p>

<p>Podéis ver el juego en un vídeo que han subido el autor
<a href="https://www.youtube.com/watch?v=-aqP6pZr5Xs" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/-aqP6pZr5Xs/0.jpg'"> </a></p>

<p>Los controles son las siguiente teclas</p>
<ul>
  <li>Q = arriba</li>
  <li>A = abajo</li>
  <li>O = izquierda</li>
  <li>P = derecha</li>
  <li>Espacio = disparar</li>
  <li>Espacio o Enter = empezar partida</li>
</ul>

<p><a href="http://inufuto.web.fc2.com/8bit/battlot/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

<p>Además tiene el juego para muchos otros sistemas.</p>

<p><a href="http://inufuto.web.fc2.com/8bit/zx81/battlot.p" title="download" target="_blank">Enlace directo al juego</a></p>

</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
