<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Tee-Time</h1>
    <p class="post-meta">
      <time datetime="2022-07-07 00:00:00 +0200" class="post-meta"> 7 de Julio del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="XavSnap">XavSnap</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un juego de golf.</p>

<p style="text-align: center;"><img src="./assets/22/07/TeeTime.png" alt="Tee-Time" /></p>

<p><a href="http://zx81.ordi5.free.fr/xavsnap/" target="_blank">XavSnap</a> ha transcrito este juego publicado el código por Eric LECHAUDEL en la revista francesa <a href="http://download.abandonware.org/magazines/Hebdogiciel/hebdogiciel_numero168/06.jpg" target="_blank">Hebdogiciel</a>, de enero de 1987.</p>

<p>Es un juego de golf en el que puedes jugar en seis hoyos distintos. Para seleccionar hoyo deja que vayan mostrando antes de pulsar una tecla, el último mostrado será al que jugaras.</p>

<p>Una vez en el hoyo con L te muestra la leyenda del mapa y con A seleccionas el ángulo y fuerza del golpe.</p>

<p>Cuando llegues al green solo tendrás que seleccionar la fuerza.</p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=47163&amp;sid=a3d854fc53c94164daf78b4af5a4a26d#p47163" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
