<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Krystal</h1>
  <p class="post-meta">
    <time datetime="2022-12-16 00:00:00 +0100" class="post-meta"> 16 de Diciembre sdel 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Nickmann Studio">Nickmann Studio</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Una demo para ZX81.</p>

  <p style="text-align: center;"><img src="./assets/22/12/Krystal.png" alt="Krystal" /></p>

  <p>Podéis ver el resultado en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=l3wBd084U1U" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/l3wBd084U1U/0.jpg'"> </a></p>

  <p>En la descripción del video hay más detalles del programa, y un enlace para descargar.</p>

  <p>Se pueden descargar el archivo .p <a href="https://mega.nz/file/d4UlUYhZ#zpx2kmhvsUUoaCLdiW2DoZBwpSxvWZG50s6GZWTbu1A" target="_blank">desde mega</a></p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
  <a class="tags" href="#" data-href="demo">demo&nbsp;</a>
</span>
