<header class="post-header">
  <h1 class="post-title" itemprop="name headline">ZX81 Fly Low Hit Hard</h1>
  <p class="post-meta">
    <time datetime="2022-12-13 00:00:00 +0100" class="post-meta"> 13 de Diciembre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Adrian Pilkington">Adrian Pilkington</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/22/12/fly.png" alt="ZX81 Fly Low Hit Hard" /></p>

  <p>Un juego de naves con scroll lateral similar al Defender.</p>

  <p>Podéis ver el resultado en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=wCblFYSnBCQ" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/wCblFYSnBCQ/0.jpg'"> </a></p>

  <p><a href="https://github.com/AdrianPilko/zx81-fly-low-hit-hard-game" target="_blank">Código fuente del juego</a></p>

  <p>Se puede jugar con joystick o teclado. Los controles son para teclado son:</p>
  <ul>
    <li>X = arriba</li>
    <li>N = abajo</li>
    <li>Espacio = disparar</li>
  </ul>

  <p>Se pueden descargar los juegos del <a href="https://github.com/AdrianPilko/zx81-fly-low-hit-hard-game/blob/main/fly.p" target="_blank">repositorio de github</a>
  o en <a href="https://adrianpilko.itch.io/fly-low-hit-hard" target="_blank">itchio</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
