<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Verbix</h1>
  <p class="post-meta">
    <time datetime="2022-12-12 00:00:00 +0100" class="post-meta"> 12 de Diciembre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Fabrizio">Fabrizio</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/22/12/Verbix.png" alt="Verbix" /></p>

  <p>El último juego escrito con el framework <a href="https://github.com/Fabrizio-Caruso/CROSS-LIB" target="_blank">Cross-Lib</a> para unas 200 consolas, ordenadores y otros dispositivos.</p>

  <p>Tienes que formar palabras de 5 letras en la fila inferior con las letras girando las columnas o la fila inferior. Consigues más puntos para letras menos comunes y puntos de bonificación si bajas la torre de letras por debajo de la segunda fila.</p>

  <p>Para girar la fila inferior tienes que ir hasta la última, o primera letra, y dar a la izquierda, derecha si es la primera letra, y volver a dar a izquierda, o derecha si es la primera letra.</p>

  <p>Si compruebas una palabra no valida se añade una nueva letra en los huecos libres. Si llegan las letras a la fila superior terminas la partida.</p>

  <p>Los controles son las siguientes teclas</p>
  <ul>
    <li>I = arriba</li>
    <li>K = abajo</li>
    <li>J = izquierda</li>
    <li>L = derecha</li>
    <li>Espacio = comprobar palabras</li>
  </ul>

  <p><a href="https://github.com/Fabrizio-Caruso/CROSS-LIB/releases/download/verbix/Xverbix_zx81_no_gfx_16k.P" target="_blank">Versión de 16k</a></p>

  <p><a href="https://github.com/Fabrizio-Caruso/CROSS-LIB/releases/download/verbix/Xverbix_zx81_32k_wrx.P" target="_blank">Versión de 32k con gráficos WRX</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
