<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Battlezxone</h1>
  <p class="post-meta">
    <time datetime="2022-12-20 00:00:00 +0100" class="post-meta"> 20 de Diciembre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Bukster">Bukster</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Versión del arcade <a href="https://es.wikipedia.org/wiki/Battlezone" target="_blank">Battlezone</a></p>

  <p style="text-align: center;"><img src="./assets/22/12/battlezone.png" alt="Battlezxone" /></p>

  <p>Ya hace meses el autor de este juego realizó un juego en 3D, <a href="./index.html?post=22-05-29-valleyOfTheKings">Valley of the Kings</a>. Usando como base ese juego ha creado una versión del arcade Battlezone.</p>

  <p>En esta versión los tanques no se mueven ni disparan. Solo tienes como amenaza los misiles guiados. En el nivel de dificultad uno te dispararán un misil, si eliges el nivel de dificultad dos, te dispararán dos misiles a la vez.</p>

  <p>El nivel termina cuando se destruyen todos los tanques. Si destruyes los cactus conseguirás puntos extras.</p>

  <p>Los controles son redefinibles por defecto son:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = derecha</li>
    <li>P = izquierda</li>
    <li>0 = disparar</li>
  </ul>

  <p>Funcionará con hardware estándar de 16k, pero puede usar un interfaz Chroma y una expansión de sonido Zonx.</p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49480#p49480" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
