<header class="post-header">
  <h1 class="post-title" itemprop="name headline">81-tris</h1>
  <p class="post-meta">
    <time datetime="2023-04-26 00:00:00 +0200" class="post-meta"> 26 de Abril del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Salvacam">Salvacam</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Mi adaptación de tetris para ZX81.</p>

  <p style="text-align: center;"><img src="./assets/23/04/81-tris.png" alt="81-tris" /></p>

  <p>Tiene dos modos de juegos, teclas redefinibles, pausa en juego. EL modo arcade cada diez líneas cambias de pantalla.</p>

  <p>Se puede conseguir un máximo de 999 líneas y llegar al nivel 99, si consigues más puedes seguir jugando, pero no añade más líneas ni subes de nivel (yo no he conseguido pasar del nivel 17).</p>

  <p>Los controles son redefinibles, por defecto son:</p>
  <ul>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>M = rotar</li>
    <li>A = bajar</li>
    <li>H = pausa</li>
  </ul>

  <p><a href="https://salvacam.gitlab.io/asset/81-tris.c" target="_blank">Enlace del código.</a></p>

  <p><a href="https://salvacam.gitlab.io/asset/81-tris.zip" target="_blank">Enlace del juego.</a></p>

  <p>Todos los juegos que he realizado para ZX81 y ZX Spectrum, además del código fuente, se encuentran en <a href="https://salvacam.gitlab.io/" target="_blank">esta web</a> y se puede probar desde la web.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
