<header class="post-header">
  <h1 class="post-title" itemprop="name headline">3D Star Raid</h1>
  <p class="post-meta">
    <time datetime="2023-08-20 00:00:00 +0200" class="post-meta"> 20 de Agosto del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Bukster">Bukster</a></b></em>
</p>
  
<div class="post-content" itemprop="articleBody">
  <p>El juego de Atari de Star Wars para nuestros ZX81</p>

  <p style="text-align: center;"><img src="./assets/23/08/3D_Star_Raid.png" alt="3D Star Raid" /></p>

  <p>Incluye los tres niveles y las cinemáticas.</p>

  <p>Lucha contra los cazas Tie en el espacio antes de acercarte para atacar la Estrella de la Muerte. Dispara torres en la superficie antes de la etapa final de la trinchera.</p>

  <p>El primer nivel tienes que disparar a un número de cazas Tie para pasar a la siguiente etapa. Las otras dos niveles estás un tiempo determinado.</p>

  <p>Cuenta con dos niveles de dificultad y tiene una opción de modo de gráficos inversos.</p>

  <p>Los controles son redefinibles por defecto son:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = derecha</li>
    <li>P = izquierda</li>
    <li>0 = disparar</li>
  </ul>

  <p>Funcionará con hardware estándar de 16k, pero puede usar un interfaz Chroma y una expansión de sonido Zonx.</p>

  <p style="text-align: center;"><img src="./assets/23/08/3D_Star_Raid_chroma.png" alt="código" /></p>

  <p>El autor del juego ha subido un video del juego
  <a href="https://www.youtube.com/watch?v=iB-wYfnd4KE" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/iB-wYfnd4KE/0.jpg'"> </a></p>

  <p>Yo he subido un video del juego sin usar interfaz Chroma
  <a href="https://www.youtube.com/watch?v=mT6Fh75mxnk" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/mT6Fh75mxnk/0.jpg'"> </a></p>

  <p>Se puede descargar el juego desde <a href="https://sinclairzxworld.com/viewtopic.php?f=4&amp;t=5195" target="_blank">el foro Sinclair ZX World</a> o <a href="http://bukstergames.infinityfreeapp.com/?i=2" target="_blank">su página web</a></p>
</div>

Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
