<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Timeblasters</h1>
  <p class="post-meta">
    <time datetime="2023-09-17 00:00:00 +0200" class="post-meta"> 17 de Septiembre del 2023</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Calliope Software">Calliope Software</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/23/09/Timeblasters.png" alt="Timeblasters" /></p>

  <p>Un juego de 1982 recuperado recientemente en archive.org.</p>

  <p style="text-align: center;"><img src="./assets/23/09/Timeblasters_cas.jpg" alt="código" /></p>

  <p>Es un juego de scroll lateral donde tiene que destruir las naves enemigas.
  El juego aumenta la velocidad cuando disparas y no aciertas. Pero si destruyes las estaciones espaciales se reduce la velocidad.
  Puedes elegir la velocidad del juego al inicio, del 1 al 6, siendo 1 la velocidad más rápida y 6 la más lenta.</p>

  <p>Los controles son:</p>
  <ul>
    <li>E = arriba</li>
    <li>F = abajo</li>
    <li>7 = disparar</li>
    <li>enter = reiniciar</li>
  </ul>

  <p>He sudido un video del juego para que se vea en movimiento
  <a href="https://www.youtube.com/watch?v=_vBi84-PewU" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/_vBi84-PewU/0.jpg'"> </a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=52476#p52476" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
