<header class="post-header">
  <h1 class="post-title" itemprop="name headline">ZX Nibbler</h1>
  <p class="post-meta">
    <time datetime="2023-08-19 00:00:00 +0200" class="post-meta"> 19 de Agosto del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Johns Bargs">Johns Bargs</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Una mezcla de snake y pacman.</p>

  <p style="text-align: center;"><img src="./assets/23/08/ZX-NIBBLER.png" alt="ZX Nibbler" /></p>

  <p>Este juego fue publicado en la revista Hebdogiciel en 1986 y ahora Johns lo ha traducido al inglés y arreglado algunos bugs.</p>

  <p style="text-align: center;"><img src="./assets/23/08/Hebdogiciel_133_Page026.jpg" alt="código" /></p>

  <p>Debes de limpiar cada laberinto antes de que acabe el tiempo, como el juego de la serpiente, si te chocas con el cuerpo de la serpiente pierdes una vida.
  Cada vez que la serpiente come crece.</p>

  <p>Si pasa mucho tiempo sin comer, cuando acaba la cuenta debajo de BONUS, pierdes una vida.</p>

  <p>Al perder una vida, comienza con el tamaño inicial y las casillas que te has comido no vuelven ha aparecer.</p>

  <p>La serpiente no se para en las esquinas.</p>

  <p>El juego está escrito en Basic, con rutinas en ensamblador, si pulsas espacio se para la ejecución del programa.</p>

  <p>Los controles son redefinibles, por defecto son:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
  </ul>

  <p>He sudido un video del juego para que se vea en movimiento
  <a href="https://www.youtube.com/watch?v=jv7b-fXFjwA" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/jv7b-fXFjwA/0.jpg'"> </a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=52140#p52140" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=52162#p52162" target="_blank">Versión UDG</a> del juego.</p>

  <p style="text-align: center;"><img src="./assets/23/08/ZX-NIBBLER_UDG.png" alt="código" /></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
