<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Snake</h1>
  <p class="post-meta">
    <time datetime="2023-01-03 00:00:00 +0100" class="post-meta"> 3 de Enero del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Steven Reid">Steven Reid</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/23/01/snake.png" alt="Snake" /></p>

  <p>La versión de Snake para ZX81 del autor, Steven Reid, en basic.</p>

  <p>Tienes que evitar chocar con los muros del borde de la pantalla y con el cuerpo de la serpiente a medida que vas comiendo los elementos que hay en la pantalla.</p>

  <p>Los controles son:</p>
  <ul>
    <li>W = arriba</li>
    <li>S = abajo</li>
    <li>A = izquierda</li>
    <li>D = derecha</li>
  </ul>

  <p>El código se puede consultar en este <a href="https://www.reids4fun.com/zl/snake" target="_blank">link</a></p>

  <p>En <a href="https://www.reids4fun.com/536/lets-have-fun-playing-snake-on-the-zx81" target="_blank">esta entrada</a> de su blog explica todo el proceso de creación</p>

  <p>Puedes <a href="https://www.reids4fun.com/zp/snake" target="_blank">jugar online</a> o <a href="https://www.reids4fun.com/programs/snake.p" target="_blank">descargar el juego</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
