<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Terra 81</h1>
  <p class="post-meta">
    <time datetime="2023-07-11 00:00:00 +0200" class="post-meta"> 11 de Julio del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Juzzo72">Juzzo72</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un juego de naves con scroll parallax scroll, power up y jefes finales</p>

  <p style="text-align: center;"><img src="./assets/23/06/terra81.png" alt="Terra 81" /></p>

  <p>Durante octubre del año pasado estuvo este juego a la “venta” en formato digital a través de <a href="https://www.kickstarter.com/projects/juzzo/terra-81-shoot-em-up-for-zx81-and-timex-1000" target="_blank">crowdfunding</a> por desgracia no consiguió la cantidad mínima. Pero por suerte el autor decidió acabar el juego.</p>

  <p>Al inicio del juego puedes ver las instrucciones, pulsando la tecla I, redefinir los controles, pulsando la tecla S, o jugar directamente pulsando cualquier otra tecla.</p>

  <p>Si quieres cambiar la velocidad del juego tienes que definir las teclas. Es recomendable jugar las primeras partidas a velocidad lenta.</p>

  <p>Tienes power up para aumentar la velocidad de disparo y para aumentar la velocidad de movimiento de tu nave.</p>

  <p>El juego tiene 4 fases, cada fase tiene tres subfases.</p>

  <p>En la primera subfase debes de acabar con 30 naves enemigas. Por supuesto evitando chocar con las naves y sus disparos, y con la parte inferior de la pantalla.</p>

  <p>En la segunda subfase tienes que acabar con el jefe, evitando chocar con él, sus disparos, los rayos que van apareciendo verticalmente y con la parte inferior de la pantalla.</p>

  <p>En la tercera subfase tienes que acabar con la base enemiga. Debes dispara al centro de la base, pero tiene varias barreras y tendrás que moverte porque te disparan. Si acabas rápido con la base puedes conseguir vidas extras.</p>

  <p>Cada nivel cambia la ambientación y las naves enemigas y sus movimientos.</p>

  <p>Puedes ver y oírlo en un video que subió el autor.
  <a href="https://www.youtube.com/watch?v=CPLYYAowuOk" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/CPLYYAowuOk/0.jpg'"> </a></p>

  <p>Los controles por defecto son:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>I = izquierda</li>
    <li>O = derecha</li>
    <li>P = disparo</li>
    <li>L = pausa</li>
  </ul>

  <p>El juego puede ser comprado en la web de Cronosoft en <a href="https://cronosoft.fwscart.com/product/terra-81-zx81-16k-cassette" target="_blank">formato físico</a> por 6,95 libras (más gastos de envío).</p>

  <p>Si lo quieres en formato digital puedes ponerte en contacto con el autor a través de su <a href="https://www.youtube.com/@JUZZOJUZZO" target="_blank">cuenta de youtube</a>
  O en la web de <a href="https://cronosoft.fwscart.com/ZX81_DIGITAL_VERSION_for_emulator/p5357732_21597228.aspx" target="_blank">Cronosoft.</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
