<header class="post-header">
  <h1 class="post-title" itemprop="name headline">YAHTK</h1>
  <p class="post-meta">
    <time datetime="2023-03-25 00:00:00 +0100" class="post-meta"> 25 de Marzo del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Una adaptación del juego de dados YAHTZEE en un 1K</p>

  <p style="text-align: center;"><img src="./assets/23/03/yahtk.png" alt="YAHTK" /></p>

  <p>Pueden jugar un sólo jugador o dos. Al cargar el juego se pulsa 1 o 2 para empezar una partida de uno o dos jugadores.
  El jugador que juega se indicará en la parte superior de la pantalla.</p>

  <p>Tienes tres lanzamientos de dados. Después de un lanzamiento, el cursor se mostrará en el primer dado. Mueves el cursor sobre la línea con O y P. 
  Fijas un dado cuando el cursor apunta a un dado y presionas Z.
  Haces un próximo lanzamiento con el dado no fijo presionando Z cuando señalas
  la T. Puede finalizar un turno seleccionando E.</p>

  <p>Después del movimiento, el cursor aparecerá en el primer campo libre.
  Mueves al siguiente campo con A. Selecciona el campo con Z para colocar
  tu puntuación.</p>

  <p>Un juego ha terminado cuando todos los campos están llenos y no se indica ningún jugador.</p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=50314#p50314" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
