<header class="post-header">
  <h1 class="post-title" itemprop="name headline">8bit wars</h1>
  <p class="post-meta">
    <time datetime="2023-05-02 00:00:00 +0200" class="post-meta"> 2 de Mayo del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un juego para el proyecto, “8 bit wars”, de <a href="https://en.wikipedia.org/wiki/Andy_Remic" target="_blank">Andy Remic</a></p>

	<p style="text-align: center;"><img src="./assets/23/05/8bitWars.png" alt="8bit wars" /></p>

	<p><a href="#guía-para-acabar-el-juego">Guia para acabar el juego</a></p>

	<p>Dr Beep lanza ahora este juego como homenaje a Andy.</p>

	<p>Es bastante difícil. La primera prueba no me ha funcionado en algunos emuladores, con Retroarch si me ha funcionado bien.</p>

	<p>Los controles son las siguientes teclas:</p>
	<ul>
	  <li>Q = arriba</li>
	  <li>A = abajo</li>
	  <li>O = izquierda</li>
	  <li>P = derecha</li>
	  <li>Z = dispara</li>
	  <li>Enter = empezar</li>
	  <li>Shift + 0 = reiniciar</li>
	</ul>

	<p><a href="https://sinclairzxworld.com/viewtopic.php?p=50820#p50820" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>

	<h3 id="guía-para-acabar-el-juego">Guía para acabar el juego</h3>
	<details class="guide"><summary>Mostrar/Ocultar</summary>

		<span>Nivel 1</span> 
		Como te indican tienes que teclear todo el alfabeto en 6 segundos o menos.
		<details><summary>Ayuda</summary>No es necesario teclear en el orden que se indica</details>
		<details><summary>Más ayuda</summary>Quizás la manera más rápida es comenzando en la Q mover el dedo sobre todas las teclas hasta P, bajar a L volver a A, vaya a Z y muévase a M. Comprueba que todas las teclas están pulsadas</details>
		<details><summary>Si tiene problemas</summary>Con algún emulador no he podido teclear en este nivel. Si te pasa lo mismo y no quieres o no puedes probar con otro te indico el código para pasar al siguiente nivel: 41040</details>

		<span>Nivel 2</span>
		Como puedes ver pone "La puerta no puede abrirse".
		<details><summary>Ayuda</summary>Creo que aquí no es necesario indicar nada, pero si no consigues saber como pasarla recuerda que puedes disparar, prueba a subir y cuando caigas dispara hasta que en el texto ponga "La puerta puede abrirse"</details>
		<details><summary>Más ayuda</summary>Tienes que disparar a la T, de la palabra "CANT", entonces podrás salir por derecha</details>

	 	<span>Nivel 3</span>
	 	Este nivel puede ser muy estresante, tomátela con calma.
	 	<details><summary>Ayuda</summary>Debes llegar arriba de la escalera de la derecha, para lo cual tienes que ir pasando por las plataformas intermitentes.</details>
	 	<details><summary>Más Ayuda</summary>Si caminas por todos los caminos sin salida el nivel 7 será más fácil.</details>

	 	<span>Nivel 4</span>
	 	Es parecido al nivel anterior, por suerte es más fácil que el nivel anterior.
	 	<details><summary>Ayuda</summary>Si no lo haces correctamente cuando acabes el siguiente nivel volverás a este.</details>
	 	<details><summary>Más Ayuda</summary>Pasa sobre las dos plataformas intermitentes (las dos de arriba), la tercera no tienes que pasar por la plataforma y la segunda mitad de la pantalla la pasas por abajo.</details>

		<span>Nivel 5</span>
		Si has hecho bien el nivel anterior, solo podrás subir e ir a la derecha.

	  	<span>Nivel 6</span>
	  	Tienes que poner una plataforma como en el nivel anterior. 
	  	<details><summary>Ayuda</summary>Tienes que disparar al texto "LEVEL COPY".</details>
		<details><summary>Más Ayuda</summary>El disparo tiene que dar en la letra C.</details>

	  	<span>Nivel 7</span>
	  	Tienes que encontrar el camino correcto.
		<details><summary>Ayuda</summary>Puedes acabar este nivel mediante ensayo error.</details>
		<details><summary>Más Ayuda</summary>Recuerda que en el nivel 3 podías activar el modo fácil para este nivel.</details>

	  	<span>Nivel 8</span>
	  	Tienes pasar por los cuatro interruptores para activar la plataforma y poder pasar sobre el bug. 
		<details><summary>Ayuda</summary>Según el orden en que se pulsen tendrá una longitud u otra la plataforma.</details>
		<details><summary>Más Ayuda</summary>El orden necesario es el tercer, primer, cuarto y segundo interruptor (el primero es el de arriba).</details>

	  	<span>Nivel 9</span>
	  	Tienes escapar moviendo las letras superiores.
		<details><summary>Ayuda</summary>Tienes que formar una palabra que empieza con E y acaba con E.</details>
		<details><summary>Más Ayuda</summary>La letra H no se usa en la palabra, tienes que llevarla para poder subir. Si la palabra no es la correcta puedes subir, pero no pasas de nivel.<details><summary>La palabra es:</summary>ESCAPE</details></details>

	  	<span>Nivel 10</span>
	  	Como en la película CUBE, en algunas habitaciones mueres y en otras no. Las habitaciones cambian de ubicación cada cierto tiempo.
		<details><summary>Ayuda</summary>Las habitaciones están numeradas, en la esquina superior izquierda y derecha tienen un número. Las habitaciones no se mueven cuando estés entre 2 cubos, puedes hacer esto para ver que camino seguir.</details>
		<details><summary>Más Ayuda</summary>Mueres si entras en una habitación cuyo número sea primo.</details>

		<span>Nivel 11</span>
	  	Tienes que jugar al tenis para mostrar el camino.
		<details><summary>Ayuda</summary>Sube las escaleras y pulsa dispara (Z) para lanzar la bola, tienes que moverte para poder devolver la pelota.</details>
		<details><summary>Más Ayuda</summary>Cuando te quedes sin pelotas vuelve a preguntarle al bug.</details>

	  	<span>Nivel 12</span>
	  	¿Recuerdas el Pacman de Atari? 
		<details><summary>Ayuda</summary>Tienes que usar el bug de los túneles del Pacman en atari 2600.</details>
		<details><summary>Más Ayuda</summary>Tienes que subir la escalera e ir a la derecha, aparecerás por la izquierda, pero tiene que entrar en el túnel y no salir hasta que pase el fantasma, entonces puedes ir a la derecha, subir a la escalera y volver a ir a la derecha.</details>

	  	<span>Nivel 13</span>
	  	Tienes que ir a una de las puertas superiores. 
		<details><summary>Ayuda</summary>Puedes ir a la derecha de la pantalla si estas en el lado izquierdo y pulsas izquierda y viceversa.</details>
		<details><summary>Más ayuda</summary>Cuidado de no caer en el hueco del nivel inferior, si no tendrás que volver a inicial este nivel.</details>
		<details><summary>Si no has apuntado el código es:</summary>46737</details>

	  	<span>Nivel 14</span>
	  	Tienes que jugar al pong tú solo. 
		<details><summary>Ayuda</summary>Debe jugar al pong para eliminar las letras del centro de la pantalla.</details>
		<details><summary>Más ayuda</summary>Igual que en la pantalla anterior, puedes ir a la derecha de la pantalla si estas en el lado izquierdo y pulsas izquierda y viceversa.</details>

	  	<span>Nivel 15</span>
	  	Último nivel. 
		<details><summary>Ayuda</summary>Debe pasar por los números, en orden.</details>
		<details><summary>Más ayuda</summary>Si caes por abajo, apareces por arriba, algunos números se tiene que coger por lado y otros por otro.</details>

		<span>Gracias a Dr. Beep por explicarme como pasar de nivel cuando que me quedaba atascado</span> 
	</details>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
