<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Falken's Maze y ZX81 Slicer</h1>
  <p class="post-meta">
    <time datetime="2023-03-26 00:00:00 +0100" class="post-meta"> 26 de Marzo del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Adrian Pilkington">Adrian Pilkington</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Dos nuevos juegos para 1k.</p>

  <p><strong>Falken’s Maze</strong></p>

  <p style="text-align: center;"><img src="./assets/23/03/falkens.png" alt="Falken's Maze y ZX81 Slicer" /></p>

  <p>Aunque el nombre se inspira en la película Juegos de guerra, el juego no tiene mucha relación con la película.</p>

  <p>Debes llegar abajo de la pantalla evitando los bloques negros. Puedes usar las bombas para abrir camino, pero son limitadas</p>

  <p><a href="https://www.youtube.com/watch?v=PTESewITiWw" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/PTESewITiWw/0.jpg'"> </a></p>

  <p>Los controles son:</p>
  <ul>
    <li>Z = izquierda</li>
    <li>M = derecha</li>
    <li>N = abajo</li>
    <li>B = poner bomba</li>
  </ul>

  <p><a href="https://github.com/AdrianPilko/ZX81FalkensMaze" target="_blank">Código fuente del juego</a></p>

  <p>Se pueden descargar los juegos del <a href="https://github.com/AdrianPilko/ZX81FalkensMaze/blob/main/falkens1k.p" target="_blank">repositorio de github</a>
  o en <a href="https://adrianpilko.itch.io/zx81-falkens-maze" target="_blank">itchio</a></p>

  <p><strong>ZX81 Slicer</strong></p>

  <p style="text-align: center;"><img src="./assets/23/03/slicer.png" alt="slicer" /></p>

  <p>Debes llegar abajo de la pantalla evitando las barras en constante movimiento.</p>

  <p><a href="https://www.youtube.com/watch?v=Gk2FD2sE03E" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/Gk2FD2sE03E/0.jpg'"> </a></p>

  <p>Los controles son:</p>
  <ul>
    <li>Z = izquierda</li>
    <li>M = derecha</li>
    <li>N = abajo</li>
  </ul>

  <p><a href="https://github.com/AdrianPilko/ZX81SlicerGame1K" target="_blank">Código fuente del juego</a></p>

  <p>Se pueden descargar los juegos del <a href="https://github.com/AdrianPilko/ZX81SlicerGame1K/blob/main/slicer1k_foremu.p" target="_blank">repositorio de github</a>
  o en <a href="https://adrianpilko.itch.io/zx81-slicer" target="_blank">itchio</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
