<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Man-Khole</h1>
  <p class="post-meta">
    <time datetime="2023-07-18 00:00:00 +0200" class="post-meta"> 18 de Julio del 2023</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dancresp">Dancresp</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>La Game&amp;Watch de Nintendo “Manhole” para el ZX-81 en 1K</p>

  <p style="text-align: center;"><img src="./assets/23/07/Man-Khole.png" alt="Man-Khole" /></p>

  <p>Tienes que ir tapando los agujeros de un puente semi-derruido, para que puedan pasar las personas. 
  Solo tienes una vida. Si se cae una persona se acaba el juego y se muestra la puntuación.</p>

  <p>Una persona esta ha salvo si al ponerse en un hueco la plataforma está debajo, pudiendo moverla a continuación para tapar otro hueco.</p>

  <p>Cada persona que aparece en el puente te da un punto.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>1 = Tapar hueco superior izquierdo</li>
    <li>Q = Tapar hueco inferior izquierdo</li>
    <li>0 = Tapar hueco superior derecho</li>
    <li>O = Tapar hueco inferior derecho</li>
  </ul>

  <p><a href="https://www.youtube.com/watch?v=ln6RqvTkPPY" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/ln6RqvTkPPY/0.jpg'"> </a></p>

  <p><a href="http://www.retrowiki.es/viewtopic.php?f=99&amp;t=200039507" target="_blank">Enlace al foro Retrowiki</a> para descarga el juego y más información sobre el juego y el código.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
