<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Rock Crush II</h1>
  <p class="post-meta">
    <time datetime="2023-02-07 00:00:00 +0100" class="post-meta"> 7 de Febrero del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Steven McDonald">Steven McDonald</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Más de 30 años después la secuela del juego Rock Crush de 1985.</p>

  <p style="text-align: center;"><img src="./assets/23/02/rc2.png" alt="Rock Crush II" /></p>

  <p>Es un nuevo motor de juego con 80 cuevas únicas.</p>

  <p>Diamond Dan tiene nuevas habilidades, potenciadores, bombas, espadas y arañas mutantes gigantes.</p>

  <p>Al cargar, selecciona en cuál de los 4 diferentes sistemas de cuevas jugarás.</p>

  <p>Cada sistema tiene 20 cuevas divididas en 4 secciones. Solo se puede elegir una vez, si quieres jugar otra sección tienes que volver a cargar el juego.</p>

  <p>El objetivo es recoger todos los diamantes y dirigirte a la salida de la siguiente cueva.</p>

  <p>El juego necesita 16K, es compatible con el interfaz Chroma, sonido y un joystick a través de las interfaces Chroma o ZXpand.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>Q = arriba</li>
    <li>Z = abajo</li>
    <li>I = izquierda</li>
    <li>P = derecha</li>
    <li>Enter = nuevo juego
  También funcionan las teclas del cursor.</li>
  </ul>

  <p><a href="https://rockcrush.onlineweb.shop/product/rock-crush-ii-the-power-of-dan-digital-version-2022" target="_blank">Enlace a la versión digital</a> el juego vale 2 libras, pero el autor ha puesto 100 unidades gratuitas.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
