<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Maze Death Race - sound FX edition</h1>
  <p class="post-meta">
    <time datetime="2023-01-08 00:00:00 +0100" class="post-meta"> 8 de Enero del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Toddy Software">Toddy Software</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>El clásico juego, <a href="http://www.zx81stuff.org.uk/zx81/tape/MazeDeathRace" target="_blank">Maze Death Race</a>, con sonido y colores.</p>

  <p style="text-align: center;"><img src="./assets/23/01/mazeDeath.png" alt="Maze Death Race - sound FX edition" /></p>

  <p>El usuario del foro Sinclair ZX World, <strong>kmurta</strong>, ha añadido al juego Maze Death Race música (del arcade Rally-X), efectos de sonido y soporte para Chroma-81, con los archivos de redefinición de caracteres y colores.</p>

  <p>Podéis oír el resultado en un vídeo que han subido
  <a href="https://www.youtube.com/watch?v=_DrLk5UD5kQ" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/_DrLk5UD5kQ/0.jpg'"> </a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49603#p49603" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
