<header class="post-header">
  <h1 class="post-title" itemprop="name headline">QDepthCharge</h1>
  <p class="post-meta">
    <time datetime="2023-04-14 00:00:00 +0200" class="post-meta"> 14 de Abril del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Paul Daniels">Paul Daniels</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/23/04/qDepthCharge.png" alt="QDepthCharge" /></p>

  <p>Tienes que patrullar el mar evitando que pasen los submarinos enemigos. Lanza cargas de profundidad para destruir todas las naves que intentan pasar. Si pasan tres submarinos pierdes la partida. Si sales por la pantalla apareces por el extremo contrario de la pantalla.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>Q - T = Izquierda</li>
    <li>Y - P = Derecha</li>
    <li>A - G = Disparo</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=50648#p50648" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
