<header class="post-header">
  <h1 class="post-title" itemprop="name headline">ZX81 Breakout</h1>
  <p class="post-meta">
    <time datetime="2023-07-29 00:00:00 +0200" class="post-meta"> 29 de Julio del 2023</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Adrian Pilkington">Adrian Pilkington</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/23/07/breakout.png" alt="ZX81 Breakout" /></p>

  <p>Una versión simple del juego Breakout. Escrito en basic y compilado con MCoder</p>

  <p>Para empezar el juego hay que teclear GOTO 9000</p>

  <p>Los controles son:</p>
  <ul>
    <li>Z = izquierda</li>
    <li>M = derecha</li>
  </ul>

  <p><a href="https://www.youtube.com/watch?v=U5GM5MvxN1U" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/U5GM5MvxN1U/0.jpg'"> </a></p>

  <p>Se pueden descargar el juego desde <a href="https://adrianpilko.itch.io/zx81-breakout" target="_blank">itchio</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
