<header class="post-header">
  <h1 class="post-title" itemprop="name headline">ZXRIS</h1>
  <p class="post-meta">
    <time datetime="2023-09-19 00:00:00 +0200" class="post-meta"> 19 de Septiembre del 2023</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Nickmann Studio">Nickmann Studio</a></b></em>
</p>
  
<div class="post-content" itemprop="articleBody">
    <p style="text-align: center;"><img src="./assets/23/09/ZXRIS.png" alt="ZXRIS" /></p>

  <p>Un Tetris hecho por Nickmann Studio con fines educativos. Es necesario una expansión de 16k.</p>

  <p>Podéis ver el resultado en un vídeo que han subido el canal Modern ZX-Retro Gaming
  <a href="https://www.youtube.com/watch?v=GduWaNZg61o" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/GduWaNZg61o/0.jpg'"> </a></p>

  <p>Se pueden descargar el juego desde <a href="https://nickmann-studio.itch.io/zxris" target="_blank">itchio</a></p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
