<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Resumen del 2023</h1>
  <p class="post-meta">
    <time datetime="2023-12-31 00:00:00 +0100" class="post-meta"> 31 de Diciembre del 2023</time>
  </p>
</header>

<div class="post-content" itemprop="articleBody">
  <p>Durante este año he creado más de 40 post, sobre unos 40 programas (o más), espero que no se ha quedado ninguno sin mostrar, en este post indicaré los programas que más me han gustado a mí, y resumiré los concurso de este año donde se podían presentar programas para el ZX81.</p>

  <p style="text-align: center;"><img src="./assets/23/12/2023.png" alt="Resumen del 2023" /></p>

  <p>Los programas que deberías perderte de este 2023 son los siguientes.</p>

  <p><a href="https://rockcrush.onlineweb.shop/product/rock-crush-ii-the-power-of-dan-digital-version-2022" target="_blank">Rock Crush II</a></p>

  <p><a href="https://salvacam.gitlab.io/asset/81-tris.zip" target="_blank">81-tris</a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49985#p49985" target="_blank">Tricdel</a></p>

  <p><a href="http://bukstergames.infinityfreeapp.com/?i=2" target="_blank">3D Star Raid</a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=50820#p50820" target="_blank">8bit wars</a></p>

  <p><a href="https://cronosoft.fwscart.com/product/terra-81-zx81-16k-cassette" target="_blank">Terra 81</a></p>

  <p><a href="https://jonathan-cauldwell.itch.io/astro-bikers" target="_blank">Astro Bikers</a></p>

  <p><a href="https://jonathan-cauldwell.itch.io/amidoh" target="_blank">Amidoh!</a></p>

  <p><a href="http://inufuto.web.fc2.com/8bit/hopman/#zx81" target="_blank">Hopman</a></p>

  <p><a href="http://inufuto.web.fc2.com/8bit/cracky/#zx81" target="_blank">Cracky</a></p>

  <p>Este es mi selección personal, lo más recomendable es que veas todos los juegos que se han lanzado durante este año 2023.</p>

  <p><br />
  <br /></p>

  <p><a href="#concursos" id="concursos"><strong>Concursos</strong></a></p>

  <p>Los concursos en los que ha tenido presencia el ZX81 durante el 2023 han sido los siguientes.</p>

  <ul>
    <li><a href="https://www.homeputerium.de/" target="_blank">BASIC 10Liner</a></li>
  </ul>

  <p>Un concurso en el que se presentan programas en Basic de un máximo de 10 líneas, con cuatro categorías según la longitud de las líneas. De este concurso hay una <a href="./index.html?post=23-04-02-10lineas">entrada en el blog.</a></p>

  <p>Se presentaron 3 juegos para el ZX81:</p>

  <ul>
    <li class="emptyList">
      <ul>
        <li>
          <p><a href="https://bunsen.itch.io/squash-trainer-by-marcos-retrobits" target="_blank">Squash Trainer de Marco’s Retrobits.</a> Un Pong para 1 jugador.</p>
        </li>
        <li>
          <p><a href="https://bunsen.itch.io/zxword-by-matthew-begg" target="_blank">ZXWORD de Matthew Begg.</a> Un procesador de texto (se requiere una expansión de RAM de 16 KB). Los documentos se pueden guardar, cargar e imprimir.</p>
        </li>
        <li>
          <p><a href="https://bunsen.itch.io/pong81-by-salvador-camacho" target="_blank">Pong81 de Salvador Camacho.</a> Otro Pong (además de que lo he podido presentar gracias al juego de Marcos). 
  <br /></p>
        </li>
      </ul>
    </li>
    <li><a href="https://itch.io/jam/retro-snake-game-jam" target="_blank">Retro Snake Game Jam</a></li>
  </ul>

  <p>Un concurso en el que se tenía que crear un juego como Snake, pudiendo añadir cualquier tipo de innovación.
  Solo para ordenadores o consolas con algunas de las siguientes CPUs, Z80, 6502 y/o Motorola 68K+. De este concurso hay una <a href="./index.html?post=23-04-15-snake">entrada en el blog.</a></p>

  <p>Se presentaron 2 juegos para el ZX81:</p>

  <ul>
    <li class="emptyList">
      <ul>
        <li>
          <p><a href="https://adrianpilko.itch.io/zx81-snake-game" target="_blank">ZX81 snake game de AdrianPilko.</a> Un nuevo reboot del clásico juego de serpiente escrito en ensamblador.</p>
        </li>
        <li>
          <p><a href="https://salvacam.itch.io/snake" target="_blank">Snake de Salvador Camacho.</a> El clásico juego de serpientes escrito en C.</p>
        </li>
      </ul>
    </li>
  </ul>

  <p><br /></p>

  <ul>
    <li><a href="https://csscgc23.blogspot.com/" target="_blank">Crap Games</a></li>
  </ul>

  <p>En esta edición del concurso se presentaron 2 para ZX81.</p>

  <p>Los juegos presentados para ZX81 fueron:</p>

  <ul>
    <li class="emptyList">
      <ul>
        <li><a href="https://csscgc23.blogspot.com/2023/03/100-honesty-for-money-johan-dr-beep.html" target="_blank">“100% honesty for money!” de Johan “Dr Beep” Koelman</a></li>
        <li><a href="https://csscgc23.blogspot.com/2023/04/ipong-salvador-camacho.html" target="_blank">I Pong de Salvador Camacho</a></li>
      </ul>
    </li>
  </ul>

  <p><br /></p>

  <ul>
    <li><a href="https://logiker.com/Vintage-Computing-Christmas-Challenge-2023" target="_blank">Vintage Computing Christmas Challenge 2023</a></li>
  </ul>

  <p>Un pequeño concurso donde se tenía que crear una estrella de navidad. Se han presentado 3 programas para ZX81.</p>

  <p>Se han presentados dos juegos para ZX81:</p>

  <ul>
    <li class="emptyList">
      <ul>
        <li><a href="https://demozoo.org/productions/335005/" target="_blank">Christmas Diamonds (ZX81/Z80 Assembler) de dadecoza</a></li>
        <li><a href="https://demozoo.org/productions/335183/" target="_blank">Christmas Diamonds (Sinclair ZX81/Forth) de gusthy</a></li>
      </ul>
    </li>
  </ul>

  <p>Se puede consultar los resultados en <a href="https://demozoo.org/parties/4821/" target="_blank">esta web</a></p>

  <p><br /></p>

  <p>Nos leemos en el 2024.</p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
  <a class="tags" href="#" data-href="concurso">concurso&nbsp;</a>
</span>
