<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Yewdow</h1>
  <p class="post-meta">
    <time datetime="2023-12-11 00:00:00 +0100" class="post-meta"> 11 de Diciembre del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>
  
<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/23/12/Yewdow.png" alt="Yewdow" /></p>

  <p>Debes colocar flechas indicando la dirección que tomara el coche, para que el coche pase por todas las banderas de la fase. Si un coche sale de la pantalla, choca contra una roca o termina el tiempo pierdes una vida, y (si tienes aun vidas) tendras que volver a coger todas las banderas.</p>

  <p>Si el coche choca contra una pared, se vuelve en el sentido contrario, y rompe la pared.</p>

  <p>Podéis ver el juego en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=UNI27qVK6yA" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/UNI27qVK6yA/0.jpg'"> </a></p>

  <p>Los controles son:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Espacio = salto y empezar partida en la fase 1</li>
    <li>Enter = empezar partida en la última fase</li>
  </ul>

  <p><a href="http://inufuto.web.fc2.com/8bit/yewdow/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

  <p>Además tiene el juego para muchos otros sistemas.</p>

  <p><a href="http://inufuto.web.fc2.com/8bit/zx81/yewdow_p.zip" target="_blank">Enlace directo al juego</a></p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
