<header class="post-header">
  <h1 class="post-title" itemprop="name headline">ZX81 Pirate Invaders</h1>
  <p class="post-meta">
    <time datetime="2024-05-12 00:00:00 +0200" class="post-meta"> 12 de Mayo del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Adrian Pilkington">Adrian Pilkington</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/05/pivaders.png" alt="ZX81 Jump" /></p>

  <p>Un space invders con piratas. Solo se puede disparar un tiro a la vez. Si los piratas llegan abajo, abordan tu barco y pierdes una vida. Para acabar con un pirata tienes que dispararle en la cabeza.</p>

  <p>En futuras versiones puede que autor incluya nuevas características.</p>

  <p>Los controles son:</p>
  <ul>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Z o Espacio = disparar</li>
    <li>S = empezar</li>
  </ul>

  <p><a href="https://www.youtube.com/watch?v=nx271o7rfIs" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/nx271o7rfIs/0.jpg'"> </a></p>

  <p>Se pueden descargar el juego desde <a href="https://adrianpilko.itch.io/zx81-pirate-invaders" target="_blank">itchio</a></p>
  <p>El código del juego se puede ver en el <a href="https://github.com/AdrianPilko/zx81-pirate-invaders" target="_blank">github del autor</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
