<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Falling Balls</h1>
  <p class="post-meta">
    <time datetime="2024-02-10 00:00:00 +0100" class="post-meta"> 10 de Febrero del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="GCHarder">GCHarder</a></b></em>
</p>
  
<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/02/FallingBalls.png" alt="Falling Balls" /></p>

  <p>Este juego fue publicado en la revista Hebdogiciel (en el número 48) en 1984 y ahora Greg ha corregido un glich, traducido al inglés y añadido gráficos en alta resolución.</p>

  <p style="text-align: center;"><img src="./assets/24/02/FallingBalls-code.jpg" alt="código" /></p>

  <p>Es un juego de estrategia, donde tiene que mover las barras hasta conseguir bajar todas las bolas.</p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?f=4&amp;t=5386" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>

</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
