<header class="post-header">
  <h1 class="post-title" itemprop="name headline">City of Alzan</h1>
  <p class="post-meta">
    <time datetime="2024-03-19 00:00:00 +0100" class="post-meta"> 19 de Marzo del 2024</time>
  </p>
</header>

  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="XavSnap">XavSnap</a></b></em>
</p>
  

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/03/CityOfAlzan.png" alt="City of Alzan" /></p>

  <p>Un nuevo juego de Trevor Toms lanzado con las nuevas rutinas BASIC/ASM que está usando XavSnap en las modificaciones de los juegos que está realizando.</p>

  <p>Basado en el juego del libro <a href="https://archive.org/details/zx81pocketbookthe/page/n119/mode/2up?view=theater" target="_blank">ZX81 pocket book</a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?f=4&amp;t=5444" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego y el código.</p>

</div>

  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
