<header class="post-header">
  <h1 class="post-title" itemprop="name headline">AntiAir</h1>
  <p class="post-meta">
    <time datetime="2024-04-20 00:00:00 +0100" class="post-meta"> 20 de Abril del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>
  
<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/04/AntiAir.png" alt="AntiAir" /></p>
  
  <p>Un clon de Space Invaders con una vuelta de tuerca</p>
  
  <p>Como en el juego original debes eliminar todos los invasores y evitar sus disparos. En este juego solo se mueven de derecha a izquierda, no bajan. Pero disparan distintos objetos, y cuando los matas también sueltan el elemento que tengan.</p>
  
  <p>Algunos sueltan bloques, que debes evitar que choquen contigo al caer. Luego te impiden pasar donde están los bloques. Y solo desaparecen cuando te matan o cuando otros invasores suelten bombas en los bloques.</p>
  
  <p>Las bombas de los enemigos pueden ser destruidas mientras están cayendo, pero no los bloques.</p>
  
  <p>Hay dos tipos de bombas, unas explosionan al caer y otras que pasados unos segundos.</p>

  <p>Podéis ver el juego en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=WP-1Ai_P-rA" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/WP-1Ai_P-rA/0.jpg'"> </a></p>

  <p>Los controles son:</p>
  <ul>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Espacio = salto y empezar partida en la fase 1</li>
    <li>Enter = empezar partida en la última fase</li>
  </ul>

  <p><a href="http://inufuto.web.fc2.com/8bit/antiair/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

  <p>Además tiene el juego para muchos otros sistemas.</p>

  <p><a href="http://inufuto.web.fc2.com/8bit/zx81/antiair_p.zip" target="_blank">Enlace directo al juego</a></p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
