<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Survival</h1>
  <p class="post-meta">
    <time datetime="2024-07-07 00:00:00 +0100" class="post-meta"> 07 de Julio del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="GCHarder">GCHarder</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Una demo para ZX81.</p>

  <p style="text-align: center;"><img src="./assets/24/07/Survival.png" alt="Survival" /></p>

  <p>Podéis ver el resultado en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=FLhS4avHK6E" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/FLhS4avHK6E/0.jpg'"> </a></p>
  
  <p>Se pueden descargar el archivo .p y el código desde el foro de <a href="https://sinclairzxworld.com/viewtopic.php?f=11&t=5562" target="_blank">Sinclair ZX World</a></p>
</div>

Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
  <a class="tags" href="#" data-href="demo">demo&nbsp;</a>    
</span>
