<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Trainspotter</h1>
  <p class="post-meta">
    <time datetime="2024-05-19 00:00:00 +0200" class="post-meta"> 19 de Mayo del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">

  <p style="text-align: center;"><img src="./assets/24/05/trainspotter.png" alt="Trainspotter" /></p>

  <p>Eres el operador de los cruces de una vía de tren, debes guiar el tren hasta el cruce correcto sin descarrilar.</p>

  <p>Pierdes una vida cuando si no llegas al destino antes de que se acaben los pasos o el tren descarrila en un cruce.</p>

  <p>Las teclas de a "A" a la "R" son para cambiar los cruces y "Enter" para empezar la partida.</p>

  <p><a href="https://www.youtube.com/watch?v=DFk4HH61fYE" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/DFk4HH61fYE/0.jpg'"> </a></p>
  
  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=55550#p55550" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego y el código. 
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
