<header class="post-header">
  <h1 class="post-title" itemprop="name headline">BUGGERCODE</h1>
  <p class="post-meta">
    <time datetime="2024-03-31 00:00:00 +0200" class="post-meta"> 31 de Marzo del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Una versión de un 1K de <a href="http://www.zx81stuff.org.uk/zx81/tape/MicroMouse" target="_blank">Micro Mouse goes de-bugging</a></p>

  <p style="text-align: center;"><img src="./assets/24/03/buggercode.png" alt="BUGGERCODE" /></p>

  <p>Manejas el asterisco y debes coger los caracteres y colocarlos en su lugar antes de que el tiempo acabe. El tiempo restante se muestra a la derecha del nombre. Cada cierto tiempo los errores, que no tienen un carácter, cogen un carácter de los sombreados.</p>

  <p>Después de reparar 3 veces él programa, se añade un error más. Como máximo puede haber 4 errores en el juego. Los errores van cogiendo </p>

  <p>El juego termina al acabar el tiempo sin arreglar el código.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>New Line = empezar</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=54985#p54985" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego. 
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
