<header class="post-header">
  <h1 class="post-title" itemprop="name headline">City Hit</h1>
  <p class="post-meta">
    <time datetime="2024-03-18 00:00:00 +0100" class="post-meta"> 18 de Marzo del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Richard Szerman">Richard Szerman</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Nuevo juego compartido en el grupo de facebook <a href="https://www.facebook.com/groups/zx80andzx81" target="_blank">Keeping the Sinclair ZX80 and ZX81 Alive</a></p>

  <p style="text-align: center;"><img src="./assets/24/03/Cityhit.png" alt="City Hit" /></p>

  <p>Controlas una avion que se mueve desde la izquierda a la derecha de la pantalla, cada vez que llega a la derecha, vuelve a aparecer por la izquierda pero un poco más abajo. Tienes que destruir todos los edificios para poder aterrizar y pasar al siguiente nivel.</p>

  <p><a href="https://www.facebook.com/groups/zx80andzx81/permalink/7515986465106150/" target="_blank">Enlace al archivo zip en facebook</a></p>

  <p><a href="https://launcher.retrobeachman.com/downloads/cityhit" target="_blank">Actualización</a> que se mueven los visitantes de uno a uno, antes era de dos en dos.</p>

</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
