<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Titanic</h1>
  <p class="post-meta">
    <time datetime="2024-07-26 00:00:00 +0100" class="post-meta"> 26 de Julio del 2024</time>
  </p>
</header>

  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="XavSnap">XavSnap</a></b></em>
</p>
  

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/07/Titanic.png" alt="Titanic" /></p>

  <p>¿Podrás escapar del barco antes de que se hunda y subir a la cubierta superior? A medida que navegas de cabina en cabina, el nivel del agua aumenta. ¿Podrás escapar o te hundirás con la tripulación? ¿Te marearás? ¿Sabes nadar?</p>

  <p style="text-align: center;"><img src="./assets/24/07/Titanic_game.png" alt="Titanic en juego" /></p>

  <p>Para jugar se usan los siguientes comandos: TAKE, LIGHT, BREATH, OPEN, N, S, E, W, U, D, I.</p>

  <p>Podéis ver un walkthrough del juego en el canal Modern ZX-Retro Gaming<a href="https://www.youtube.com/watch?v=e-vNaWR1nd0" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/e-vNaWR1nd0/0.jpg'"> </a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?f=4&t=5547" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego y el código.</p>

</div>

  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
