<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Munchy</h1>
  <p class="post-meta">
    <time datetime="2024-05-13 00:00:00 +0200" class="post-meta"> 13 de Mayo del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Karl G">Karl G</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">

  <p style="text-align: center;"><img src="./assets/24/05/munchy.png" alt="Munchy" /></p>

  <p>Esta es una versión 2K ZX81 del juego estilo Pac-Man de una línea que ha sido portado a otras plataformas. La versión original es un <a href="https://abagames.github.io/crisp-game-lib-11-games/?pakupaku" target="_blank">juego web.</a><p>

  <p>El juego está en desarrollo, pero es totalmente jugable.</p>

  <p>Solo es necesaria la tecla espacio para iniciar el juego y cambiar de dirección.</p>

  <p>La puntuación es:</p>
  <ul>
    <li>Comer un punto: 1 punto</li>
    <li>Comer una ficha de poder: 10 puntos</li>
    <li>Comer un fantasma: 100 puntos</li>
  </ul>

  <p><a href="https://www.youtube.com/watch?v=na3J-HlJkec" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/na3J-HlJkec/0.jpg'"> </a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=55361#p55361" target="_blank">Enlace al foro Sinclair ZX World</a> para descargar el juego y el código. 
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
