<header class="post-header">
  <h1 class="post-title" itemprop="name headline">ZX81 Maze</h1>
  <p class="post-meta">
    <time datetime="2024-05-29 00:00:00 +0200" class="post-meta"> 29 de Mayo del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Adrian Pilkington">Adrian Pilkington</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/05/maze.png" alt="ZX81 Maze" /></p>

  <p>Un juego de laberintos. En cada laberinto tienes que recoger al menos 10 dólares para que se abra la puerta. El laberinto está custodiado por un enemigo, que se mueve aleatoriamente, algunas veces puedes pasar por el enemigo sin perder una vida.</p>

  <p>Los controles son:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>S = empezar</li>
  </ul>

  <p><a href="https://www.youtube.com/watch?v=0-yj6AVavLc" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/0-yj6AVavLc/0.jpg'"> </a></p>

  <p>Se pueden descargar el juego desde <a href="https://adrianpilko.itch.io/zx81-maze" target="_blank">itchio</a></p>
  <p>El código del juego se puede ver en el <a href="https://github.com/AdrianPilko/zx81-mazes" target="_blank">github del autor</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
