<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Roadkill y Alien Attack</h1>
  <p class="post-meta">
    <time datetime="2024-03-12 00:00:00 +0100" class="post-meta"> 12 de Marzo del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="GCHarder">GCHarder</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Dos nuevos juegos modificados.</p>

  <h1 id="roadkill">Roadkill</h1>

  <p style="text-align: center;"><img src="./assets/24/03/roadkill.png" alt="Roadkill &amp; Alien Attack" /></p>

  <p>Programado por Micheal Orwin en 1982 y publicado por Timex como parte de la colección “Mixed Game Bag III”.</p>

  <p>Se ha modificado:</p>
  <ul>
    <li>la zona de juego, ahora usa la pantalla completa, las 24 líneas</li>
    <li>las teclas de control, ahora se usa  QAOP en lugar de 5-6-7-8</li>
    <li>añadido rutinas en ASM para mejorar la velocidad</li>
    <li>añadida versión con UDG</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?f=4&amp;t=5432" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>

  <h1 id="alien-attack">Alien Attack</h1>

  <p style="text-align: center;"><img src="./assets/24/03/alienAttack.png" alt="chroma" /></p>

  <p>Debes evitar que llegen los aliens a la parte de abajo de la pantalla. Puedes moverte y disparar a la vez.</p>

  <p>Solo ha modificado para añadir una pantalla de inicio y una versión con UDG.</p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?f=4&amp;t=5427" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>

  <p>Actualizado con soporte Chroma.</p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>