<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Snake Game</h1>
  <p class="post-meta">
    <time datetime="2024-04-01 00:00:00 +0100" class="post-meta"> 1 de Abril del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Moggy">Moggy</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">

  <p style="text-align: center;"><img src="./assets/24/04/snake.png" alt="Maze Death Race - sound FX edition" /></p>

  <p>Kelly Murta, creador del compilador Toddy Forth-79 esta explicando el juego Snake en el lenguaje Forth en el foro Sinclair ZX World.</p>

  <p>El usuario del foro, Moggy, ha compartido el archivo .P, es necesario un ZX81 con ZXpand (32K RAM, tarjeta de sonido Zon-X y tarjeta SD) y el Toddy Forth-79.</p>

  <p>Podéis ver el resultado en un video del canal "Modern ZX-Retro Gaming"
  <a href="https://www.youtube.com/watch?v=j97Xg2lfgRA" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/j97Xg2lfgRA/0.jpg'"> </a></p>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?p=54916#p54916" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego y ver el código.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
