<header class="post-header">
  <h1 class="post-title" itemprop="name headline">ZX81 Jump</h1>
  <p class="post-meta">
    <time datetime="2024-04-21 00:00:00 +0200" class="post-meta"> 21 de Abril del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Adrian Pilkington">Adrian Pilkington</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/04/Jump.png" alt="ZX81 Jump" /></p>

  <p>Un juego de plataforma, tienes que recoger todo el oro en cada pantalla para abrir la puerta y cuando llegues a la puerta pasas de fase.</p>

  <p>Si el tiempo llega a los 10 minutos, pierdes todas las vidas menos una.</p>
    
  <p>Si colisionas con un enemigo pierdes una vida y tienes volver a coger todo el oro de la fase.</p>

  <p>Los controles son:</p>
  <ul>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Espacio = saltar</li>
    <li>S = empezar</li>
  </ul>

  <p><a href="https://www.youtube.com/watch?v=vsSKaoL5i4Q" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/vsSKaoL5i4Q/0.jpg'"> </a></p>

  <p>Se pueden descargar el juego desde <a href="https://adrianpilko.itch.io/zx81-jump" target="_blank">itchio</a></p>
  <p>El código del juego se puede ver en el <a href="https://github.com/AdrianPilko/ZX81-Jump-game" target="_blank">github del autor</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
