<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Return to Sorcerer's Island</h1>
  <p class="post-meta">
    <time datetime="2024-07-10 00:00:00 +0100" class="post-meta"> 10 de Julio del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="The Introvert">The Introvert</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">

  <p>Una actualización del juego de ZX81 <a href="http://www.zx81stuff.org.uk/zx81/tape/FantasyGames" target="_blank">Sorcerer's Island</a></p>

  <p style="text-align: center;"><img src="./assets/24/07/ReturnSorcerersIsland.png" alt="Return to Sorcerer's Island" /></p>

  <p>El juego está escrito desde cero en C, con algunas rutinas en ensamblador.</p>

  <p>Los cambios de esta actualización son los siguientes:
    <ul>
      <li>Jugabilidad mucho más rápida</li>
      <li>El mapa siempre está visible al jugar</li>
      <li>Calculo más razonable en el gasto de puntos de vida al luchar</li>
      <li>Juego de una sola tecla, las acciones disponibles siempre son visibles</li>
      <li>Puntuación alta para fomentar la repetición del juego</li>
    </ul>
  </p>

  <p>Podéis ver un vídeo en el canal Modern ZX-Retro Gaming 
  <a href="https://www.youtube.com/watch?v=xILRUqzif9I" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/xILRUqzif9I/0.jpg'"> </a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?f=4&t=5573" target="_blank">Enlace a al foro Sinclair ZX World</a></p>

</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>    
</span>
