<header class="post-header">
  <h1 class="post-title" itemprop="name headline">K-Man</h1>
  <p class="post-meta">
    <time datetime="2024-02-15 00:00:00 +0100" class="post-meta"> 15 de Febrero del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Dr Beep ha liberado uno de los juegos del casete <a href="./index.html?post=23-07-17-superPrograms10">Super Programs 10</a></p>

  <p style="text-align: center;"><img src="./assets/24/02/K-Man.png" alt="K-Man" /></p>

  <p><strong>K-MAN</strong>, un pacman en 1K, solo le falta la fruta de bonificación. Las teclas se definen al inicio, Newline para comenzar.</p>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?p=54248#p54248" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego y el código.</p>
</div>

Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>