<header class="post-header">
  <h1 class="post-title" itemprop="name headline">WORLDCAFE</h1>
  <p class="post-meta">
    <time datetime="2024-05-07 00:00:00 +0200" class="post-meta"> 7 de Mayo del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">

  <p style="text-align: center;"><img src="./assets/24/05/worldcafe.png" alt="Kilopede" /></p>

  <p>Debes acompañar a los clientes a sus asientos antes de que lo haga el ordenador.</p>
  
  <p>Se muestra la letra de la mesa donde debes de llevar al cliente, si el ordenador lo sienta antes que tú, tendrás puntos de penalización. Si sientas antes al cliente, obtienes el tiempo restante como puntos.</p>

  <p>Cuando el contador de puntos penalización llega a 30, el jugador pierdes una vida, o subes de nivel, si es el ordenador quien llega a los 30 puntos de penalización</p>

  <p>Los controles son:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Enter = empezar partida</li>
  </ul>
  
  <p><a href="https://www.youtube.com/watch?v=KgnkvDOFyro" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/KgnkvDOFyro/0.jpg'"> </a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=55327#p55327" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego y el código. 
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
