<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Mosquito</h1>
  <p class="post-meta">
    <time datetime="2024-05-06 00:00:00 +0200" class="post-meta"> 6 de Mayo del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jason Darrington">Jason Darrington</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/05/Mosquito.png" alt="Mosquito" /></p>

  <p>Manejas un bombardero, debes  indicar las coordenadas vertical (de 1 a 20) y horizontal (de 1 a 30). Tienes 10 bombas y tienes 10 objetivos. Consiges 3 puntos si alcanzas directamente el objetivo, o 1 punto si cae la bomba cerca.</p>

  <p><a href="https://www.youtube.com/watch?v=8GpHU4Me3BA" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/8GpHU4Me3BA/0.jpg'"> </a></p>

  <p>Se pueden descargar el juego desde <a href="https://www.dropbox.com/scl/fi/mrszsx0vkalfq4ndu0y82/Mosquito.p?rlkey=26e610xnimb4zt2cdwus841uu&e=2&st=ttobre80&dl=0" target="_blank">dropbox</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
