<header class="post-header">
  <h1 class="post-title" itemprop="name headline">ZX81 Scroll Zone</h1>
  <p class="post-meta">
    <time datetime="2024-07-19 00:00:00 +0200" class="post-meta"> 19 de Julio del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Adrian Pilkington">Adrian Pilkington</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/07/scroll.png" alt="ZX81 Scroll Zone" /></p>

  <p>Un juego de scroll lateral, donde tienes que evitar chocar con las X, coger dólares incrementa la puntuación.</p>

  <p>Si cruzas la mitad de la pantalla, te desplazaras en sentido contrario. Cada 100 puntos se intercambian los caracteres de tu personaje y el enemigo (la X que debes evitar chocar con ellas).</p>

  <p>Los controles son:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>S = empezar</li>
  </ul>

  <p><a href="https://www.youtube.com/watch?v=cX2KYiaL3Po" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/cX2KYiaL3Po/0.jpg'"> </a></p>

  <p>Se pueden descargar el juego desde <a href="https://adrianpilko.itch.io/zx81-scroll-zone" target="_blank">itchio</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
