<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Minoss Knossoss</h1>
  <p class="post-meta">
    <time datetime="2024-04-11 00:00:00 +0100" class="post-meta"> 11 de Abril del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="David Stephenson">David Stephenson</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">

  <p>Secuela del juego <a href="https://zx81keyboardadventure.itch.io/zx81-tut-tut" target="_blank">Tut-Tut</a>.</p>

  <p style="text-align: center;"><img src="./assets/24/04/minoss.png" alt="Space Intruders" /></p>

  <p>El juego tiene 20 niveles, el último nivel sólo es accesible si llegas con 2500 puntos o más</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>F = pausa</li>
    <li>R = reiniciar nivel</li>
  </ul>

  <p>Es compatible con joystick Kempston y tarjetas de sonido ZON-X y ZXPand+</p>


  <p><a href="https://zx81keyboardadventure.itch.io/minoss-knossoss" target="_blank">Enlace a itchio</a> para descarga el juego y donar.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
