<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Space Intruders</h1>
  <p class="post-meta">
    <time datetime="2024-04-10 00:00:00 +0100" class="post-meta"> 10 de Abril del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Paul Farrow">Paul Farrow</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">

  <p style="text-align: center;"><img src="./assets/24/04/spaceIntruders.png" alt="Space Intruders" /></p>

  <p>Paul Farrow ha creado una versión modificada del <a href="http://www.zx81stuff.org.uk/zx81/tape/SpaceInvaders3K" target="_blank">Space Invders de Macronics</a> donde cambia el color del borde a negro</p>

  <p>Podéis ver el resultado en un video del canal "Modern ZX-Retro Gaming"
  <a href="https://www.youtube.com/watch?v=0z3C2lzjGFQ" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/0z3C2lzjGFQ/0.jpg'"> </a></p>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?f=6&t=5458" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
