<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Luna Mission</h1>
  <p class="post-meta">
    <time datetime="2024-05-30 00:00:00 +0100" class="post-meta"> 30 de Mayo del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Richard Szerman">Richard Szerman</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">

  <p style="text-align: center;"><img src="./assets/24/05/lunaMission.png" alt="Luna Mission" /></p>

  <p>Tienes que guiar tu nave hacia la pista de aterrizaje, mientras recoges dinero y evita los agujeros negros. Si permaneces mucho tiempo en las plataformas te disparan.</p>

  <p>Los controles son:</p>
  <ul>
    <li>Q = izquierda</li>
    <li>E = derecha</li>
  </ul>

  <p>Villordsutch ha subido un video<a href="https://www.youtube.com/watch?v=CD2oAk5c2J8" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/CD2oAk5c2J8/0.jpg'"> </a></p>

  <p><a href="https://launcher.retrobeachman.com/downloads/Luna/" target="_blank">Enlace al juego</a></p>

</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
