<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Getaway Driver</h1>
  <p class="post-meta">
    <time datetime="2024-07-08 00:00:00 +0100" class="post-meta"> 08 de Julio del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jonathan Cauldwell">Jonathan Cauldwell</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">

  <p style="text-align: center;"><img src="./assets/24/07/Getaway.png" alt="Getaway" /></p>

  <p>Una conversión del juego Spectrum <a href="https://spectrumcomputing.co.uk/entry/4269/ZX-Spectrum/Run_Baby_Run" target="_blank">Run Baby Run.</a></p>

  <p>Evita los coches de policía y oblígalos a chocar entre sí. Cuando todos se han estrellado, el último coche de policía empieza a disparar balas. Evita que te disparen y dirígete hasta la parte inferior de la pantalla para pasar al siguiente nivel.</p>

  <p style="text-align: center;"><img src="./assets/24/07/Getaway_chroma.png" alt="chroma" /></p>

  <p>Los controles son definibles</p>

  <p>Tiene soporte para Chroma y tarjeta de expansión Quicksilva.</p>

  <p>Podéis ver un vídeo en el canal ZX Retro Gaming 
  <a href="https://www.youtube.com/watch?v=fCIvWNdX_qo" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/fCIvWNdX_qo/0.jpg'"> </a></p>

  <p><a href="https://jonathan-cauldwell.itch.io/getaway-driver" target="_blank">Enlace a itchio</a></p>

</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>    
</span>
