<header class="post-header">
  <h1 class="post-title" itemprop="name headline">BASIC 10Liner</h1>
  <p class="post-meta">
    <time datetime="2024-04-09 00:00:00 +0100" class="post-meta"> 09 de Abril del 2024</time>
  </p>
</header>

<div class="post-content" itemprop="articleBody">
  <p>Presentados un juego para ZX81 en la 13ª edición del concurso <a href="https://www.homeputerium.de/" target="_blank">BASIC 10Liner</a>.</p>

  <p style="text-align: center;"><img src="/assets/24/03/corridors81.png" alt="BASIC 10Liner" /></p>

  <p>Un concurso en el que se presentan programas en Basic de un máximo de 10 líneas, con cuatro categorías según la longitud de las líneas.</p>

  <p>Las categorías son:</p>
  <ul>
    <li>PUR-80: En el que cada línea puede tener un máximo 80 caracteres.</li>
    <li>PUR-120: En el que cada línea puede tener un máximo 120 caracteres.</li>
    <li>EXTREM-256: En el que cada línea puede tener un máximo 256 caracteres.</li>
    <li>SCHAU: En el que cada línea puede tener un máximo 256 caracteres. Esta categoría está destinada a demos, herramientas o aplicaciones.</li>
  </ul>

  <p>Se han presentado un solo juegos en esta edición para el ZX81</p>

  <ul>
    <li><a href="https://lupoman.itch.io/corridors81" target="_blank">Corridors81 de Luis Pieri.</a> Controlas un robot araña que recorre largos pasillos en una base lunar. ¡Necesitas escapar con todos los datos! ¡Las paredes son magnéticas y destruyen el robot!</li>
  </ul>

  <p>Los resultados ya se han dado a conocer, los podéis consultar también en la <a href="https://gkanold.wixsite.com/homeputerium/results-2024" target="_blank">web del concurso</a></p>
  <p style="text-align: center;"><img src="/assets/24/04/BASIC_10Liner_resultados.png" alt="Resultados" /></p>

  <p>Podéis ver todos los juegos presentados en este video, pongo el enlace en el tiempo en que empieza el juego de ZX81 presentado
  <a href="https://www.youtube.com/watch?v=PZ6r_HHwuto&t=448s" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/PZ6r_HHwuto/0.jpg'"> </a></p>

</div>

Etiquetas: 
<span>
  <a href="/tag/2024">2024&nbsp;</a>
  <a href="/tag/concurso">concurso&nbsp;</a>
</span>
