<header class="post-header">
  <h1 class="post-title" itemprop="name headline">KILOPEDE</h1>
  <p class="post-meta">
    <time datetime="2024-04-03 00:00:00 +0200" class="post-meta"> 3 de Abril del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Una versión de un 1K de <a href="https://es.wikipedia.org/wiki/Centipede_(videojuego)" target="_blank">Centipede</a></p>

  <p style="text-align: center;"><img src="./assets/24/04/kilopede.png" alt="Kilopede" /></p>

  <p>Al empezar la partida se colocan 30 bloques en la parte superior de la pantalla.</p>

  <p>En el primer nivel, un ciempiés del tamaño de 15 bloques comienza a bajar. Debes acabar con él para pasar al siguiente nivel. Cuando dispares a un ciempiés, también se convertirá en un bloque.</p>

  <p>Cuando una parte del ciempiés puede llegar al fondo de la pantalla volverá doble en la parte superior de la pantalla.</p>

  <p>Los controles se definen al cargar el juego. Con New Line se comienza una nueva partida.</p>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?p=55017#p55017" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego y el código. 
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
