<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Tempest CHR$128</h1>
  <p class="post-meta">
    <time datetime="2024-03-24 00:00:00 +0100" class="post-meta"> 24 de Marzo del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="GCHarder">GCHarder</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Un juego de S.P. Kelly publicado originalmente por Micro-Gen. NO es una versión ZX81 del clásico arcade.</p>

  <p style="text-align: center;"><img src="./assets/24/03/tempest.png" alt="Tempest CHR$128" /></p>

  <p>Se han añadido UDG.</p>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?f=4&amp;t=5450" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>

</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
