<header class="post-header">
  <h1 class="post-title" itemprop="name headline">ZX81 PRIME numbers</h1>
  <p class="post-meta">
    <time datetime="2024-05-31 00:00:00 +0200" class="post-meta"> 31 de Mayo del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Peter Bille Larsen">Peter Bille Larsen</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/05/maze.png" alt="ZX81 Maze" /></p>

  <p>Un programa que calcula números primos basándose en una secuencia, que puedes escribir.</p>

  <p>El autor ha subido un video<a href="https://www.youtube.com/watch?v=EMWbfgCUwxE" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/EMWbfgCUwxE/0.jpg'"> </a></p>

  <p>Se pueden descargar el programa desde <a href="https://archive.org/details/cubo_20240505_202405" target="_blank">archive.org</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
