<header class="post-header">
  <h1 class="post-title" itemprop="name headline">The ultimate 1K coding book</h1>
  <p class="post-meta">
    <time datetime="2024-04-12 00:00:00 +0200" class="post-meta"> 12 de Abril del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un libro sobre la programación de juegos para el ZX81 con solo 1K.</p>

  <p style="text-align: center;"><img src="./assets/24/04/1kcoding.png" alt="The ultimate 1K coding book" /></p>

  <p>En el libro el autor explica como realizar un juego para ZX81 sin ampliación de memoria.</p>

  <p>El autor ha comentado en Facebook que en la primera "edición" del libro ha encontrado una errata en una tabla, quien lo haya adquirido el libro antes de la corrección, el autor ha compartido un pdf con la página corregida en el grupo de Facebook <a href="https://www.facebook.com/groups/ZX81OwnersClub/permalink/3576369302586327/" target="_blank">ZX81 Owners Club</a></p>

  <p>En el enlace de compra se puede leer un fragmento del libro</p>

  <p>Disponible en <a href="https://www.amazon.com/ultimate-1K-coding-book-fully/dp/B0CZS63D14" target="_blank">amazon</a> por 7,27 € (en España, en otros países puede variar el precio)</p>
  
  <p>Además el autor tiene un <a href="https://www.sinclairzxworld.com/viewtopic.php?t=4045" target="_blank">hilo en el foro Sinclair ZX World</a> donde explica como programar un juego para ZX81 en ASM</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>        
    <a class="tags" href="#" data-href="libro">libro&nbsp;</a>
</span>
