<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Sets</h1>
  <p class="post-meta">
    <time datetime="2024-06-09 00:00:00 +0100" class="post-meta"> 9 de Junio del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jonathan Cauldwell">Jonathan Cauldwell</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">

  <p>Juego de cartas rápido inspirado en una tragaperras de los bares belgas</p>

  <p>En el centro de la pantalla aparecen tres cartas, tiene que moverlos a uno de los 4 lados (arriba, abajo, izquierda o derecha). Para formar líneas de 3 símbolos iguales en horizontal o en diagonal para ganar puntos y ganar tiempo.</p>

  <p style="text-align: center;"><img src="./assets/24/06/Sets.png" alt="Sets" /></p>

  <p>Los controles son definibles, por defecto los controles del teclado son</p>
  <ul>
    <li>2 = arriba</li>
    <li>W = abajo</li>
    <li>9 = izquierda</li>
    <li>0 = derecha</li>
    <li>h = pausa</li>
  </ul>

  <p>No tiene soporte para Chroma, pero si tiene sonido con Zon-X y joysticks con ZXPand.</p>

  <p><a href="https://jonathan-cauldwell.itch.io/sets" target="_blank">Enlace a itchio</a></p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>    
</span>
