<header class="post-header">
  <h1 class="post-title" itemprop="name headline">MushRoomMan</h1>
  <p class="post-meta">
    <time datetime="2024-06-01 00:00:00 +0200" class="post-meta"> 1 de Junio del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">

  <p>Versión para ZX81 de este juego de <a href="https://spectrumcomputing.co.uk/index.php?cat=96&id=23117" target="_blank"> ZX Spectrum del 2009</a></p>

  <p style="text-align: center;"><img src="./assets/24/06/MushRoomMan.png" alt="MushRoomMan" /></p>

  <p>Disponible los 100 primeros niveles. El juego completo saldrá a la venta en la tienda <a href="https://cronosoft.fwscart.com/" target="_blank">Cronosoft.</a></p>

  <p>Tiene soporte para Chroma.</p>
  <p style="text-align: center;"><img src="./assets/24/06/MushRoomMan_chroma.png" alt="chroma" /></p>

  <p>Los controles (se indican al cargar el juego) son las siguientes teclas:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>R = reiniciar nivel</li>
    <li>L = introducir código de nivel</li>
  </ul>
  
  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=55659#p55659" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego y el código. </p>


  <p>El autor ha creado un hilo en el foro Sinclair ZX World explicando el<a href="https://sinclairzxworld.com/viewtopic.php?f=6&t=5512" target="_blank"> desarrollo del juego.</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
